/*==================================
   Mixins
====================================*/

// Custom
@mixin placeholder-color($color) {
  &:before { color: $color; }
  &::-webkit-input-placeholder {  color: $color;  }
  &::-moz-placeholder {  color: $color;  }
  &:-ms-input-placeholder {  color: $color;  }
  &:-moz-placeholder {  color: $color;  }
}
@mixin min-max-size($width, $height) {
  min-width: $width;
  min-height: $height;
  max-width: $width;
  max-height: $height;
}

// Text
@mixin t3 {
  font-family: PTSans-Regular;
  font-size: 14px;
  color: $gray-dark-2;
}

// Buttons
@mixin b__ {
  &:active {
    &:not(.no-move) {
      * {
        position: relative;
        top: 1px;
      }
    }
  }
  &:disabled {
    border: 2px solid $gray-light-3;
    &, &:hover {
      background: transparent !important;
    }
    .icon {
      svg {
        path {
          fill: $gray-light-3;
          stroke: $gray-light-3;
        }
      }
    }
    .btn-text {
      color: $gray-light-3;
    }
  }
}

@mixin b1_ {
  @include b__;
  background: linear-gradient(to bottom, $red-light-1, $red);
  .has-hover &:hover {
    background: linear-gradient(to bottom, $red, $red-dark-1);
  }
  &:active {
    background: linear-gradient(to bottom, $red-dark-2, $red-dark-1) !important;
  }
}
@mixin b2_ {
  @include b__;
  background: linear-gradient(to bottom, $blue, $blue-dark-1);
  .has-hover &:hover {
    background: linear-gradient(to bottom, $blue-dark-1, $blue-dark-2);
  }
  &:active {
    background: linear-gradient(to bottom, $blue-dark-3, $blue-dark-2) !important;
  }
}
@mixin b3_ {
  @include b__;
  background: linear-gradient(to bottom, $gray-light-2, $gray-light-1);
  .has-hover &:hover {
    background: linear-gradient(to bottom, $gray-light-1, $gray);
  }
  &:active {
    background: linear-gradient(to bottom, $gray-dark-1, $gray) !important;
  }
}

@mixin b_a {
  box-sizing: border-box;
  height: 40px;
  border-radius: 3px;
  color: $white;
  font-family: PTSans-Regular, sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  .icon {
    @include min-max-size(20px, 20px);
    margin-right: 10px;
  }
  .btn-text {
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@mixin b_b {
  box-sizing: border-box;
  height: 60px;
  border-radius: 3px;
  color: $white;
  font-family: PTSans-Regular, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  .icon {
    @include min-max-size(20px, 20px);
    margin-right: 10px;
  }
  .btn-text {
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &:disabled {
    padding-left: 28px;
    padding-right: 28px;
  }
}
@mixin b_c {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  font-family: PTSans-Regular, sans-serif;
  font-size: 14px;
  color: $white !important;
  cursor: pointer;
  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: bottom;
  }
  a, a:link, a:hover, a:focus, a:active, a:visited {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color: $white;
  }
}
@mixin b_d {
  box-sizing: border-box;
  height: 60px;
  border-radius: 3px;
  color: $white;
  font-family: PTSans-Regular, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  .btn-text {
    vertical-align: middle;
    cursor: pointer;
  }
  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
  }
}
@mixin b_e {
  max-width: 200px;
  height: 40px;
  border-radius: 3px;
  padding: 0 20px;
  font-family: PTSans-Regular, sans-serif;
  font-size: 14px;
  cursor: pointer;
  white-space:nowrap;
  &, >a, >span {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color: $white !important;
  }
}
@mixin b_g {
  height: 40px;
  padding: 0 20px;
  border-radius: 3px;
  font-family: PTSans-Regular, sans-serif;
  font-size: 14px;
  cursor: pointer;
  white-space:nowrap;
  &, >a, >span {
    color: $white !important;
  }
}
@mixin b_h {
  box-sizing: border-box;
  height: 60px;
  border-radius: 3px;
  color: $white;
  font-family: PTSans-Regular, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  .btn-text {
    vertical-align: middle;
    cursor: pointer;
  }
  &, >a, >span {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 60px;
    color: $white !important;
  }
}
@mixin b_j {
  width: 100%;
  height: 40px;
  border-radius: 0 0 3px 3px;
  font-family: PTSans-Regular, sans-serif;
  font-size: 14px;
  color: $white !important;
  cursor: pointer;
  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: bottom;
  }
  a, a:link, a:hover, a:focus, a:active, a:visited {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 60px;
    color: $white;
  }
}
@mixin b_k {
  width: 100%;
  height: 60px;
  border-radius: 0 0 3px 3px;
  font-family: PTSans-Regular, sans-serif;
  font-size: 16px;
  color: $white !important;
  cursor: pointer;
  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: bottom;
  }
  a, a:link, a:hover, a:focus, a:active, a:visited {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 60px;
    color: $white;
  }
}
@mixin b_m {
  height: 40px;
  border-radius: 3px;
  color: $white !important;
  line-height: 20px;
  display: flex;
  position: relative;
  cursor: pointer;
  transition: all .5s ease-in-out;
  .icon {
    width: 20px;
    height: 20px;
  }
}

@mixin b1a {
  @include b_a;
  @include b1_;
}
@mixin b2a {
  @include b_a;
  @include b2_;
}
@mixin b3a {
  @include b_a;
  @include b3_;
}

@mixin b1b {
  @include b_b;
  @include b1_;
}
@mixin b2b {
  @include b_b;
  @include b2_;
}
@mixin b3b {
  @include b_b;
  @include b3_;
}

@mixin b1c {
  @include b_c;
  @include b1_;
}
@mixin b2c {
  @include b_c;
  @include b2_;
}
@mixin b3c {
  @include b_c;
  @include b3_;
}

@mixin b1d {
  @include b_d;
  @include b1_;
}
@mixin b2d {
  @include b_d;
  @include b2_;
}
@mixin b3d {
  @include b_d;
  @include b3_;
}

@mixin b1e {
  @include b_e;
  @include b1_;
}
@mixin b2e {
  @include b_e;
  @include b2_;
}
@mixin b3e {
  @include b_e;
  @include b3_;
}

@mixin b1g {
  @include b_g;
  @include b1_;
}
@mixin b2g {
  @include b_g;
  @include b2_;
}
@mixin b3g {
  @include b_g;
  @include b3_;
}

@mixin b1h {
  @include b_h;
  @include b1_;
}
@mixin b2h {
  @include b_h;
  @include b2_;
}
@mixin b3h {
  @include b_h;
  @include b3_;
}

@mixin b1k {
  @include b_k;
  @include b1_;
}
@mixin b2k {
  @include b_k;
  @include b2_;
}
@mixin b3k {
  @include b_k;
  @include b3_;
}

@mixin b1m {
  @include b_m;
  @include b1_;
}
@mixin b2m {
  @include b_m;
  @include b2_;
}
@mixin b3m {
  @include b_m;
  @include b3_;
}

@mixin b1j {
  @include b_j;
  @include b1_;
}
@mixin b2j {
  @include b_j;
  @include b2_;
}
@mixin b3j {
  @include b_j;
  @include b3_;
}

// PopOvers
@mixin n__ {
  min-height: 40px;
  border-radius: 3px;
  padding: 10px 20px;
  font-family: PTSans-Regular, sans-serif;
  font-size: 14px;
  color: $white;
  position: absolute;
  z-index: 100;
  opacity: 0;
  transform: scale(0.8);
  white-space:nowrap;
  cursor: default;
  a, span {
    color: $blue-light-1;
    cursor: pointer;
    .has-hover &:hover {
      color: $blue-light-2;
    }
  }
  .input-wrapper {
    position: relative;
    &:before, &:after {
      content: '';
      height: 38px;
      border-radius: 3px;
      position: absolute;
      top: 1px;
      cursor: text;
      display: none;
    }
    &:before {
      width: 50px;
      left: 1px;
      background-image: linear-gradient(to right, $white 40%, $transparent);
    }
    &:after {
      width: 30px;
      right: 80px;
      background-image: linear-gradient(to left, $white, $transparent);
    }
    &.blur-left {
      &:before {
        display: block;
      }
    }
    &.blur-right {
      &:after {
        display: block;
      }
    }
    input {
      width: 250px;
      height: 40px;
      padding: 10px 80px 10px 20px;
      border-radius: 3px;
      border: 1px solid $blue-light-1;
      background-color: $white;
      font-family: PTSans-Regular, sans-serif;
      font-size: 14px;
      color: $gray;
      line-height: 20px;
    }
    button {
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      &.ok-btn {
        @include b2m;
        position: absolute;
        right: 0;
      }
      &.clear-btn {
        width: 40px;
        height: 40px;
        background-color: transparent;
        right: 40px;
        cursor: pointer;
        .clear-icon-wrapper {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            width: 10px;
            height: 10px;
            path {
              fill: $gray;
            }
          }
        }
        .has-hover &:hover {
          .clear-icon-wrapper {
            background-color: $red;
            svg {
              path {
                fill: $white;
              }
            }
          }
        }
        &:active {
          .clear-icon-wrapper {
            background-color: $red-dark-1;
            position: relative;
            top: 1px;
          }
        }
      }
    }
    &.empty {
      input {
        padding-right: 20px;
      }
      button {
        display: none;
      }
    }
  }
  .buttons-wrapper {
    margin-top: 20px;
    display: flex;
    button {
      flex-grow: 1;
      &.no {
        @include b3e;
      }
      &.yes {
        @include b2e;
        margin-left: 20px;
      }
    }
  }
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-radius: 0 3px 0;
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
    position: absolute;
    margin-left: -7px;
    z-index: -1;
  }
}

@mixin n1_ {
  background-color: $gray;
  box-shadow: 0 5px 10px 0 rgba($gray-dark-2, 0.2);
  &:after {
    border-top: 7px solid $gray;
    border-right: 7px solid $gray;
  }
}
@mixin n2_ {
  background-color: $red;
  box-shadow: 0 5px 10px 0 rgba($red-dark-1, 0.2);
  &:after {
    border-top: 7px solid $red;
    border-right: 7px solid $red;
  }
}
@mixin n3_ {
  background-color: $green;
  box-shadow: 0 5px 10px 0 rgba($green-dark-3, 0.2);
  &:after {
    border-top: 7px solid $green;
    border-right: 7px solid $green;
  }
}

@mixin n_c {
  height: 40px;
  &:after {
    top: -7px;
    bottom: auto;
    left: 50%;
    transform: rotate(-45deg);
  }
}
@mixin n_e {
  height: 40px;
  &:after {
    top: auto;
    bottom: -7px;
    left: 50%;
    transform: rotate(135deg);
  }
}
@mixin n_f {
  &:after {
    top: -7px;
    bottom: auto;
    left: 50%;
    transform: rotate(-45deg);
  }
}
@mixin n_g {
  &:after {
    top: 50%;
    left: 0;
    margin-top: -7px;
    transform: rotate(-135deg);
  }
}
@mixin n_i {
  &:after {
    top: 50%;
    left: auto;
    right: -7px;
    margin-top: -7px;
    transform: rotate(45deg);
  }
}

@mixin n1c {
  @include n__;
  @include n1_;
  @include n_c;
}
@mixin n1e {
  @include n__;
  @include n1_;
  @include n_e;
}
@mixin n1f {
  @include n__;
  @include n1_;
  @include n_f;
}
@mixin n1g {
  @include n__;
  @include n1_;
  @include n_g;
}
@mixin n1i {
  @include n__;
  @include n1_;
  @include n_i;
}

@mixin n2c {
  @include n__;
  @include n2_;
  @include n_c;
}
@mixin n2e {
  @include n__;
  @include n2_;
  @include n_e;
}
@mixin n2f {
  @include n__;
  @include n2_;
  @include n_f;
}
@mixin n2g {
  @include n__;
  @include n2_;
  @include n_g;
}
@mixin n2i {
  @include n__;
  @include n2_;
  @include n_i;
}

@mixin n3c {
  @include n__;
  @include n3_;
  @include n_c;
}
@mixin n3e {
  @include n__;
  @include n3_;
  @include n_e;
}
@mixin n3f {
  @include n__;
  @include n3_;
  @include n_f;
}
@mixin n3g {
  @include n__;
  @include n3_;
  @include n_g;
}
@mixin n3i {
  @include n__;
  @include n3_;
  @include n_i;
}

// DropDowns
@mixin dd6-btn {
  cursor: pointer;
  position: relative;
  padding: 0 !important;
  .inner-wrapper {
    padding: 0 20px;
    border-radius: 3px;
    background-color: transparent;
    color: $white;
    >.icon-wrapper {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      width: 20px;
      text-align: center;
      white-space: nowrap;
      .icon.caret-icon {
        path {
          fill: $white;
        }
      }
    }
    .has-hover &:hover:not(.in-header) {
      color: $white;
      background: linear-gradient(to bottom, $gray-light-1, $gray);
      >.icon-wrapper {
        .icon {
          path {
            fill: $white !important;
          }
        }
      }
    }
    &:active:not(.in-header) {
      background: linear-gradient(to bottom, $gray-dark-1, $gray);
      .icon-wrapper, .icon-text {
        position: relative;
        top: 1px;
      }
    }
  }
  &.active {
    .inner-wrapper {
      border-radius: 3px 3px 0 0;
      background-color: $gray;
      color: $white;
      >.icon-wrapper {
        .icon {
          path {
            fill: $white !important;
          }
        }
      }
    }
  }
}
@mixin dd6 {
  min-width: 100%;
  max-height: 275px;
  overflow: auto;
  width: max-content;
  width: -moz-max-content;
  opacity: 0;
  box-shadow: 0 5px 10px 0 rgba($gray-dark-2, 0.2);
  border-radius: 3px 0 3px 3px;
  position: absolute;
  top: 100%;
  right: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  z-index: 100;
  list-style-type: none;
  font-family: PTSans-Regular, sans-serif;
  >li, >div {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    background-color: $gray;
    border-bottom: 1px solid $gray-dark-1;
    transition: all .5s ease-in-out;
    .has-hover &:hover {
      background-color: $blue-dark-1;
      border-color: $blue-dark-1;
      transition: all .5s ease-in-out;
    }
    &:active {
      * {
        position: relative;
        top: 1px;
      }
      background-color: $blue-dark-2;
      transition: all .5s ease-in-out;
    }
    &.active {
      background-color: $blue-dark-2;
      transition: all .5s ease-in-out;
    }
    &:last-child {
      border-radius: 0 0 3px 3px;
    }
    &.disabled {
      border: none;
      &, a, span {
        color: $gray-light-3;
        cursor: not-allowed;
      }
      a, span {
        opacity: 0.5;
      }
    }
    >a, >span {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 10px 20px;
      color: $white;
    }
  }
}
@mixin dd5 {
  opacity: 0;
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  z-index: 100;
  transform: scaleY(0);
  transform-origin: 0 0;
  ul {
    min-width: 100%;
    max-height: 180px;
    overflow: auto;
    width: max-content;
    width: -moz-max-content;
    box-shadow: 0 5px 10px 0 rgba($gray-dark-2, 0.2);
    border-radius: 3px;
    list-style-type: none;
    font-family: PTSans-Regular, sans-serif;
    >li, >div {
      padding: 10px 20px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 40px;
      background-color: $gray;
      border-bottom: 1px solid $gray-dark-1;
      transition: all .5s ease-in-out;
      .has-hover &:hover {
        background-color: $blue-dark-1;
        border-color: $blue-dark-1;
        transition: all .5s ease-in-out;
      }
      &:active {
        * {
          position: relative;
          top: 1px;
        }
        background-color: $blue-dark-2;
        transition: all .5s ease-in-out;
      }
      &.active {
        background-color: $blue-dark-2;
        transition: all .5s ease-in-out;
      }
      &:last-child {
        border-radius: 0 0 3px 3px;
      }
      &.disabled {
        border: none;
        &, a, span {
          color: $gray-light-3;
          cursor: not-allowed;
        }
        a, span {
          opacity: 0.5;
        }
      }
      .icon {
        margin-right: 10px;
      }
      >a, >span {
        display: flex;
        width: 100%;
        height: 100%;
        color: $white;
        line-height: 20px;
      }
    }
  }
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-radius: 0 3px 0;
    border-top: 7px solid $gray;
    border-right: 7px solid $gray;
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -7px;
    transform: rotate(-45deg);
    z-index: -1;
  }
  &.right {
    &:after {
      left: unset;
      right: 5px;
      margin-left: 0;
    }
  }
}
@mixin dd1-btn {
  height: 40px;
  padding-left: 20px;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, $background, $gray-light-4);
  box-shadow: inset 0 -1px 0 0 $inner-shadow;
  font-family: PTSans-Regular;
  white-space: nowrap;
  font-size: 14px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  transition: fill .5s ease-in-out;
  .has-hover &:hover {
    transition: fill .5s ease-in-out;
    .selected-option {
      background: linear-gradient(to bottom, $gray-light-1, $gray);
      color: $white;
      .icon-wrapper {
        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  }
  &:active {
    transition: all .5s ease-in-out;
    .selected-option {
      position: relative;
      top: 1px;
      background: linear-gradient(to bottom, $gray-dark-1, $gray);
    }
  }
  .label {
    height: 100%;
    color: $gray-light-2;
    margin-right: 5px;
  }
  .selected-option {
    width: 65%;
    height: 100%;
    padding: 0 20px;
    background: transparent;
    border-radius: 3px;
    color: $gray-dark-2;
    display: flex;
    justify-content: flex-end;
    span {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .icon-wrapper {
      margin-left: 10px;
      svg {
        path {
          fill: $gray-dark-2;
        }
      }
    }
  }
}
@mixin dd1 {
  @include dd6;
  max-height: 245px;
  line-height: 20px;
}

// Scrollbars {
@mixin sc3 {
  .slimScrollRail {
    opacity: 0.7 !important;
    background-color: $gray-light-4 !important;
  }
  .slimScrollBar{
    opacity: 1 !important;
    background-color: $gray-light-3 !important;
    transition: background-color .5s ease-in-out;
    .has-hover &:hover {
      background-color: $blue-dark-1 !important;
      transition: background-color .5s ease-in-out;
    }
    &:active {
      background: $blue-dark-3 !important;
      transition: background-color .5s ease-in-out;
    }
  }
}

// Text Fields
@mixin f1 {
  input {
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    background-color: $background;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 $inner-shadow;
    font-family: PTSans-Regular;
    font-size: 14px;
    color: $gray-dark-2;
    @include placeholder-color($gray-light-2);
  }
}
@mixin f3 {
  font-family: PTSans-Regular;
  font-size: 16px;
  color: $gray-light-2;
  position: relative;
  label {
    position: absolute;
    top: 18px;
    left: 50px;
    cursor: text;
    transition: all .5s ease-in-out;
    line-height: 20px;
  }
  input {
    width: 100%;
    height: 60px;
    padding: 20px 55px 20px 50px;
    background-color: $background;
    box-shadow: inset 0 1px 0 0 $inner-shadow;
    border-radius: 3px;
    transition: all .5s ease-in-out;
    @include placeholder-color($gray-light-2);
  }
  .icon-alert {
    width: 23px;
    height: 17px;
    background-image: url('/../../images/icons/alert.svg');
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    opacity: 0;
    transition: opacity .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &.focused {
    .icon-wrapper {
      svg {
        path {
          stroke: $blue-light-1;
          transition: stroke .5s ease-in-out;
        }
      }
    }
    label {
      color: $blue-light-1;
    }
    input {
      border: 1px solid $blue-light-1;
      background-color: $white;
      box-shadow: none;
      @include placeholder-color($blue-light-1);
      transition: all .5s ease-in-out;
    }
  }
  &.not-empty {
    label {
      color: $gray-light-2;
      top: 8px;
      font-size: 12px;
      line-height: 14px;
      transition: all .5s ease-in-out;
    }
    input {
      padding: 30px 55px 10px 50px;
    }
  }
  &.error {
    .icon-alert {
      opacity: 1;
      transition: opacity .25s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    input {
      animation-name: f4Error;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
}
@mixin f4 {
  @include f3;
  .icon-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    &, .svg { @include min-max-size(20px, 20px); }
    svg {
      path {
        stroke: $gray-light-2;
        transition: stroke .5s ease-in-out;
      }
    }
  }
}

// Teat Areas
@mixin ta1 {
  @include sc3;
  padding: 20px 0 20px;
  background-color: $background;
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: inset 0 1px 0 0 $inner-shadow;
  transition: all .5s ease-in-out;
  textarea {
    width: 100%;
    padding: 0 50px 0 20px;
    background-color: $background;
    font-family: PTSans-Regular;
    font-size: 14px;
    color: $gray-dark-2;
    line-height: 24px;
    overflow: hidden;
    @include placeholder-color($gray-light-2);
    transition: all .5s ease-in-out;
    &:empty:focus{
      @include placeholder-color($blue-light-2);
      transition: all .5s ease-in-out;
    }
  }
  label {
    font-family: PTSans-Regular;
    font-size: 14px;
    color: $gray-light-2;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: text;
    transition: all .5s ease-in-out;
  }
  &.focused {
    border-color: $blue-light-1;
    background-color: $white;
    box-shadow: none;
    transition: all .5s ease-in-out;
    textarea {
      background-color: $white;
      transition: all .5s ease-in-out;
    }
    label {
      color: $blue-light-1;
    }
  }
  &.not-empty {
    padding-top: 35px;
    label {
      top: 15px;
      font-size: 12px;
      transition: all .5s ease-in-out;
    }
  }
}
@mixin ta3 {
  @include ta1;
  font-size: 16px;
}
@mixin ta7 {
  @include ta3;
  .char-counter {
    font-family: PTSans-Regular;
    font-size: 12px;
    color: $gray-light-2;
    position: absolute;
    bottom: 15px;
    right: 80px;
  }
}

// Tags
@mixin tag {
  display: inline-flex;
  align-items: center;
  border: 1px solid $inner-shadow;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
  a, span {
    @include t3;
    padding-left: 20px;
    font-family: PTSans-Regular, sans-serif;
    color: $gray-light-2;
    white-space: nowrap;
    position: relative;
    top: -1px;
    transition: color .5s ease-in-out;
  }
  svg path {
    transition: fill .5s ease-in-out;
  }
  .has-hover &:hover {
    transition: all .5s ease-in-out;
    a, span {
      transition: color .5s ease-in-out;
    }
    svg path {
      transition: fill .5s ease-in-out;
    }
  }
  &:active {
    border-color: transparent;
    position: relative;
    top: 1px;
    transition: all .5s ease-in-out;
    a, span {
      transition: color .5s ease-in-out;
    }
    svg path {
      transition: fill .5s ease-in-out;
    }
  }

  &:disabled {
    color: $inner-shadow;
    border-color: $gray-light-4;
  }
}
@mixin tag2 {
  @include tag;
  height: 40px;
  margin: 10px;
  padding-right: 20px;
  .has-hover &:hover {
    border-color: $blue-dark-1;
    a, span {
      color: $blue-dark-1;
    }
  }
  &:active {
    background-color: $blue-dark-1;
    a, span {
      color: $white !important;
    }
  }
}
@mixin tag3 {
  @include tag;
  height: 40px;
  margin: 10px;
  .icon-wrapper {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vert-align: bottom;
    svg {
      width: 10px;
      height: 10px;
      path {
        fill: $inner-shadow;
      }
    }
  }
  .has-hover &:hover {
    border-color: $red;
    a, span {
      color: $red;
    }
    svg path {
      fill: $red;
    }
  }
  &:active {
    background-color: $red;
    a, span {
      color: $white;
    }
    svg path {
      fill: $white;
    }
  }
}

// Loaders
@mixin l3 {
  background-image: url('/../../images/loaders/l3.svg');
  background-origin: content-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin loader {
  width: 100%;
  display: block;
  position: relative;

  &__line {
    animation-name: loaderLineMove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    background-color: $blue-dark-1;
    bottom: 0;
    position: absolute;
    top: 0;

    &:first-child {
      animation-delay: .2s;
      left: 0;
      opacity: .25;
      width: 25%;
    }

    &:nth-child(2) {
      animation-delay: .1s;
      left: 0;
      opacity: .5;
      width: 25%;
    }

    &:last-child {
      left: 12.5%;
      width: 12.5%;
    }
  }
}
@mixin loader-l1 {
  @include loader;
  height: 8px;
  &__line {
    height: 8px;
  }
}
@mixin loader-l2 {
  @include loader;
  height: 8px;
  &__line {
    height: 8px;
  }
}
@mixin loader-l3 {
  @include loader;
  height: 4px;
  &__line {
    height: 4px;
  }
}
@mixin loader-l4 {
  @include loader;
  height: 4px;
  &__line {
    height: 4px;
  }
}

@mixin btn-loading-statement {
  .loader {
    width: unset;
    position: absolute;
    left: 20px;
    right: 20px;
    opacity: 0;
  }
  &.loading {
    pointer-events: none;
    .loader {
      opacity: 1;
    }
    .icon,
    .btn-text {
      opacity: 0;
    }
  }
}