/*==================================
   Post Mixins
====================================*/

// Category
@mixin post-category {
  width: max-content;
  width: -moz-max-content;
  margin: 20px auto;
  font-family: PTSans-Bold, sans-serif;
  font-size: 12px;
  display: inline-block;
}
// Title
@mixin post-title {
  width: 100%;
  margin-bottom: 40px;
  font-family: PTSans-Bold, sans-serif;
  font-size: 30px;
  color: $gray-dark-2;
  line-height: 39px;
  text-align: center;
  @media (min-width: 720px) {
    font-size: 50px;
    line-height: 65px;
  }
}
// Text
@mixin post-text {
  width: 100%;
  &, pre {
    font-family: PTSans-Regular, sans-serif !important;
    min-height: 30px !important;
    font-size: 20px !important;
    line-height: 30px !important;
    color: $gray-dark-2 !important;
  }
  b, strong {
    font-family: PTSans-Bold, sans-serif;
  }
  i, em {
    font-style: italic;
  }
  a {
    color: $blue-dark-1;
    transition: color .5s ease-in-out;
    &:hover {
      color: $blue-dark-3;
      transition: color .5s ease-in-out;
    }
  }
}
// Heading
@mixin post-heading {
  width: 100%;
  font-family: PTSans-Regular;
  margin-top: 80px;
  margin-bottom: 20px;
}
@mixin post-heading-1 {
  @include post-heading;
  font-size: 30px;
  @media (min-width: 720px) {
    font-size: 40px;
  }
}
@mixin post-heading-2 {
  @include post-heading;
  font-size: 20px;
  @media (min-width: 720px) {
    font-size: 30px;
  }
}
@mixin post-heading-3 {
  @include post-heading;
  font-family: PTSans-Bold;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  @media (min-width: 720px) {
    font-size: 20px;
  }
}
// Lists
@mixin bullet-list {
  margin: 40px 0;
  padding-left: 20px;
  list-style-image: url('/../../images/icons/bullet-point.svg');
  li {
    padding-left: 20px;
  }
}
@mixin number-list {
  margin: 40px 0;
  padding-left: 40px;
  counter-reset: item;
  li {
    display: block;
    &:before {
      content: counter(item) ". ";
      counter-increment: item;
      margin-right: 20px;
      margin-left: -37px;
      font-family: PTSans-Regular;
      font-size: 16px;
      color: $blue-dark-1;
    }
  }
}
// Quote
@mixin  post-quote {
  word-break: break-word;
  &:not([contenteditable=true]):before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/../../images/icons/blockquote.svg');
  }
  &, .post-quote-main-text {
    margin: 20px 0;
    font-family: "Georgia", serif;
    font-size: 30px;
    //font-style: italic;
  }
}
@mixin post-quote-wrapper {
  width: 100%;
  margin: 80px 0;
  text-align: center;
  color: $gray-dark-2;
  position: relative;
  blockquote {
    @include post-quote;
  }
}
// Image
@mixin post-image {
  position: relative;
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
