/*==================================
   Global settings
====================================*/

// General settings
body {
  background-color: $background;
  font-family: PTSans-Regular;
  &.page-new-post {
    background-color: $white;
    .site-content-contain {
      &, #content {
        display: flex;
      }
      #content {
        &, .post-editor {
          flex-grow: 1;
        }
        .post-editor {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  [v-cloak] {
    display: none !important;
  }
  [contenteditable=true]:empty:not(.code):before {
    content: attr(data-placeholder);
    display: block;
    cursor: text;
  }
  #page {
    display: flex;
    .main-content {
      flex-grow: 1;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
  }
  .container {
    max-width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
    &:before, &:after {
      display: none;
    }
    .row {
      margin: 0;
      &:before, &:after {
        display: none;
      }
    }
  }
  .site-content-contain {
    display: flex;
    flex-direction: column-reverse;
    min-height: 300px;
    clear: both;
    position: relative;
    z-index: 10;
    &, #content {
      flex-grow: 1;
    }
    .category-description-wrapper {
      padding: 40px 0;
      background-color: $white;
      font-family: PTSans-Regular;
      font-size: 14px;
      text-align: center;
    }
  }
  .page-request {
    padding-top: 100px;
    .title {
      margin-bottom: 50px;
      font-family: PTSans-Regular;
      font-size: 20px;
      color: $gray-dark-2;
      text-align: center;
    }
  }

  @media (min-width: 720px) {
    .container {
      padding-left: 40px;
      padding-right: 40px;
    }
    .site-content-contain {
      .category-description-wrapper {
        padding: 80px 0;
      }
    }
  }

  @media (min-width: 1340px) {
    .container {
      padding-left: 80px;
      padding-right: 80px;
    }
  }

  @media (min-width: 1520px) {
    .container {
      box-sizing: content-box;
      max-width: 1360px !important;
    }
  }

  @media (min-width: 2480px) {
    .container {
      padding-left: 160px;
      padding-right: 160px;
    }
  }
}

// Elements
a {
  &, &:link, &:hover, &:focus, &:active, &:visited {
    text-decoration: none;
  }
}
p, label, h1, h2, h3 {
  margin: 0;
}
input, textarea, button, [contenteditable=true] {
  border: none;
  &:focus {
    box-shadow: none !important;
  }
  &, &:hover, &:focus, &:active {
    outline: none !important;
  }
}
ul, ol, blockquote {
  margin: 0;
  padding: 0;
}

.loader-l2 {
  @include loader-l2;
}
.icon {
  display: inline-block;
}
.icon-text, .icon-wrapper {
  font-family: inherit !important;
  line-height: inherit !important;
}
.category-label-wrapper {
  border-radius: 3px;
  .category-label {
    border-radius: 3px;
    padding: 0 10px;
    a, span {
      font-family: PTSans-Bold, sans-serif;
      color: $white;
      line-height: 20px;
      text-transform: uppercase;
      letter-spacing: 1.2px;
    }
  }
}
.overflow-scroller-wrapper {
  width: 100%;
  height: 40px;
  position: relative;
  .arrow {
    content: '';
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    z-index: 25;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    &.arrow-left {
      left: 0;
      background: linear-gradient(to right, $white 40%, rgba(255, 255, 255, 0.001));
      &:after {
        background: url('/../../images/icons/arrow-left.svg') center no-repeat;
      }
    }
    &.arrow-right {
      right: 0;
      background: linear-gradient(to left, $white 40%, rgba(255, 255, 255, 0.001));
      &:after {
        background: url('/../../images/icons/arrow-right.svg') center no-repeat;
      }
    }

  }
  .popovers {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
  }
  .overflow-scroller {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    overflow-x: auto;
    &__track {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
    }
    .arrow {
      content: '';
      width: 40px;
      height: 40px;
      cursor: pointer;
      position: absolute;
      z-index: 20;
      &.arrow-left {
        left: 0;
        background: url('/../../images/icons/arrow-left.svg') center no-repeat, linear-gradient(to right, $white 40%, rgba(255, 255, 255, 0.001));

      }
      &.arrow-right {
        right: 0;
        background: url('/../../images/icons/arrow-right.svg') center no-repeat, linear-gradient(to left, $white 40%, rgba(255, 255, 255, 0.001));
      }
    }
    &.hidden-arrows {
      overflow: visible;
      .arrow {
        display: none;
      }
      .overflow-scroller__track {
        left: 0;
      }
    }
    &.position-left .arrow-left {
      display: none;
    }
    &.position-right .arrow-right {
      display: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &.position-left .arrow-left {
    display: none;
  }
  &.position-right .arrow-right {
    display: none;
  }
  &.hidden-arrows {
    overflow: visible;
    .arrow {
      display: none;
    }
  }
}

// Media queries
@media (max-width: 719px) {
  h1 { font-size: 30px !important; }
  h2 { font-size: 20px !important; }
  h3 { font-size: 16px !important; }
}

