/*==================================
   Variables
====================================*/

// Colors
$background: #ECEFF1;
$inner-shadow: #CFD8DC;
$blue-dark-3: #0D47A1;
$blue-dark-2: #1976D2;
$blue-dark-1: #2196F3;
$blue: #42A5F5;
$blue-light-1: #90CAF9;
$blue-light-2: #BBDEFB;
$blue-light-3: #E2F2FD;
$blue-light-9: #F0F8FE;
$gray-dark-4: #161C1F;
$gray-dark-3: #1B262A;
$gray-dark-2: #243238;
$gray-dark-1: #455A64;
$gray: #546E7A;
$gray-light-1: #78909C;
$gray-light-2: #90A4AE;
$gray-light-3: #B0BEC5;
$gray-light-4: #DDE3E6;
$green-dark-3: #006023;
$green-dark-2: #0B8738;
$green-dark-1: #26B64E;
$green: #1AB744;
$green-light-1: #48C569;
$green-light-2: #76D48F;
$green-light-8: #E3FFEB;
$green-light-9: #EEFBF2;
$orange-light-1: #FF7043;
$orange: #FF6F00;
$red-dark-2: #9C2500;
$red-dark-1: #BF360C;
$red: #D84315;
$red-light-1: #F4511E;
$red-light-9: #FDF4F3;
$yellow: #FFB302;
$white: #FFFFFF;
$transparent: rgba(255,255,255,0.001);

$post-tile-photo-placeholder: #CFD8DC;

// Categories Colors
$category-0: #0066F0;
$category-1: #673AB7;
$category-2: #FFB500;
$category-3: #982000;
$category-4: #00897B;
$category-5: #9E9E9E;
$category-6: #00A8E4;
$category-7: #DB0087;
$category-8: #C58A74;
$category-9: #6BCC11;
$category-10: #607D8B;
$category-11: #BDB0D9;
$category-12: #FF5722;
$category-13: #6EB2B5;
$category-14: #827717;
$category-15: #FF707D;
$category-16: #00BFA5;
$category-17: #C6D500;
$category-18: #243238;

// Categories Label Backgrounds
.bg-category-0 {  background-color: $category-0; }
.bg-category-1 {  background-color: $category-1; }
.bg-category-2 {  background-color: $category-2; }
.bg-category-3 {  background-color: $category-3; }
.bg-category-4 {  background-color: $category-4; }
.bg-category-5 {  background-color: $category-5; }
.bg-category-6 {  background-color: $category-6; }
.bg-category-7 {  background-color: $category-7; }
.bg-category-8 {  background-color: $category-8; }
.bg-category-9 {  background-color: $category-9; }
.bg-category-10 {  background-color: $category-10; }
.bg-category-11 {  background-color: $category-11; }
.bg-category-12 {  background-color: $category-12; }
.bg-category-13 {  background-color: $category-13; }
.bg-category-14 {  background-color: $category-14; }
.bg-category-15 {  background-color: $category-15; }
.bg-category-16 {  background-color: $category-16; }
.bg-category-17 {  background-color: $category-17; }
.bg-category-18 {  background-color: $category-18; }