/*==================================
   Post Editor
====================================*/

.post-editor {
  .toolbar {
    width: 100%;
    height: 60px;
    padding: 10px 0;
    background-color: $white;
    box-shadow: 0 5px 10px 0 rgba($gray-dark-2, 0.1);
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    .admin-bar & {
      top: 46px;
    }
    .container {
      .toolbar-wrapper {
        display: flex;
        justify-content: center;
        .tools-wrapper {
          height: 130px;
          width: 100%;
          .overflow-scroller {
            max-height: 48px;
          }
        }
        .tools {
          display: flex;
          list-style-type: none;
          .tool {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border-radius: 3px;
            border: 1px solid transparent;
            display: inline;
            position: relative;
            transition: all .5s ease-in-out;
            &, * {
              cursor: pointer;
            }
            &:last-child {
              margin-right: 0;
            }
            .has-hover &:hover:not(.disabled) {
              border-color: $blue-dark-1;
              svg {
                path, polygon {
                  fill: $blue-dark-1;
                  transition: all .5s ease-in-out;
                }
              }
            }
            &:active:not(.disabled) {
              border-color: $blue-dark-1;
              background-color: $blue-dark-1;
              svg {
                path, polygon {
                  fill: $white;
                  transition: all .5s ease-in-out;
                }
              }
            }
            &.active:not(.disabled) {
              border-color: $blue-dark-3;
              background-color: $blue-dark-3;
              svg {
                path, polygon {
                  fill: $white;
                  transition: all .5s ease-in-out;
                }
              }
            }
            &.disabled {
              &, * {
                cursor: not-allowed;
                pointer-events: none;
              }
              svg {
                path, polygon {
                  fill: $gray-light-4;
                  transition: all .5s ease-in-out;
                }
              }
            }
            button, .toolbar-button {
              width: 100%;
              height: 100%;
              padding: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              background-color: transparent;
            }
            input {
              cursor: text;
            }
            >svg {
              path, polygon {
                fill: $gray-light-2;
                transition: all .5s ease-in-out;
              }
            }
            form {
              display: none;
            }
          }
          &.popovers {
            .tool {
              border-color: transparent !important;
              background-color: transparent !important;
            }
            button, .toolbar-button {
              background-color: transparent !important;
            }
            .custom-popover {
              @include n1f;
              top: 15px;
              .input-wrapper {
                button.ok-btn {
                  width: 40px;
                }
              }
            }
          }
        }
        button.send-post {
          @include b1e;
          flex-grow: 1;
        }
      }
    }
  }
  .post-editor-content {
    padding-top: 70px;
    position: relative;
    z-index: 90;
    .category-toggle {
      @include dd6-btn;
      width: max-content;
      width: -moz-max-content;
      margin: 10px auto 10px;
      transform: translateX(20px);
      z-index: 100;
      .category-label-wrapper {
        margin: 10px auto !important;
      }
      .icon-wrapper {
        .icon {
          path {
            fill: $gray-light-3 !important;
          }
        }
      }
      .custom-dropdown-menu {
        @include dd6;
        max-height: 265px;
        width: auto;
        min-width: 100%;
        z-index: 100;
        li {
          padding: 0 20px;
          white-space: nowrap;
        }
      }
    }
    .post-title {
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      color: $gray-light-2 !important;
      textarea {
        text-align: center;
        @include placeholder-color($gray-light-2);
        &:focus {
          @include placeholder-color($blue-light-2);
        }
      }
      >.custom-popover {
        @include n2f;
        top: 40px;
        align-self: center;
        line-height: normal;
      }
    }
    .post-container {
      input, textarea, [contenteditable="true"] {
        width: 100%;
        resize: none;
        &:focus {
          outline: none;
        }
      }
      .post-content {
        .additional-text {  @include placeholder-color($gray-light-2);  }
        .post-text{  @include placeholder-color($gray-light-2);  }
        .post-quote-wrapper {
          position: relative;
          &.edit-mode {
            text-align: left;
          }
          blockquote {
            .post-quote-main-text {
              @include placeholder-color($blue-light-1);
              &:before {
                font-style: italic;
              }
            }
            .post-quote-main-text, .additional-text {
              &:empty {
                padding-left: 50%;
                text-align: left;
                &:before {
                  margin-left: -100%;
                  text-align: center;
                }
              }
            }
          }
          .content-tools .edit-tool {
            display: none;
          }
        }
        .post-image-wrapper, .post-video-wrapper {
          position: relative;
          .delete-button {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $gray-light-3;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -10px;
            right: -10px;
            cursor: pointer;
            transition: all .5s ease-in-out;
            svg {
              width: 10px;
              height: 10px;
              path {
                fill: $white;
              }
            }
            .has-hover &:hover {
              background-color: $red;
            }
          }
        }
        .post-divider {
          cursor: pointer;
        }
        .post-interview-wrapper {
          position: relative;
        }
        .post-product-form-wrapper {
          position: relative;
          .post-product-from-title {  @include placeholder-color($blue-light-1);  }
          .post-product-image-block {
            .upload-product-image-wrapper {
              width: 100%;
              padding: 0 20px;
              height: 200px;
              border: 1px dashed $gray-light-4;
              border-radius: 3px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              position: relative;
              cursor: pointer;
              .drop {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
              }
              .icon {
                svg {
                  path {
                    fill: $blue-dark-1;
                    transition: fill .5s ease-in-out;
                  }
                }
              }
              p {
                text-align: center;
                &.first-text-row {
                  font-family: PTSans-Bold;
                  font-size: 16px;
                  color: $blue-dark-1;
                  transition: color .5s ease-in-out;
                }
                &.second-text-row {
                  font-family: PTSans-Regular;
                  font-size: 14px;
                  color: $gray-light-2;
                }
              }
              form {
                display: none;
              }
              .has-hover &:hover, &.dragover {
                .icon svg path {
                  fill: $blue-dark-3;
                  transition: fill .5s ease-in-out;
                }
                p {
                  &.first-text-row {
                    color: $blue-dark-3;
                    transition: color .5s ease-in-out;
                  }
                }
              }
            }
          }
          .post-product-buttons {
            .button-wrapper {
              position: relative;
              display: flex;
              justify-content: center;
              .custom-popover {
                @include n1f;
                top: 20px;
                display: flex;
                flex-direction: column;
                input {
                  width: 100% !important;
                  margin-bottom: 20px;
                  padding: 10px 20px !important;
                }
                .button-tools {
                  display: flex;
                  button {
                    &.cancel {
                      @include b3g;
                      width: 115px;
                      margin-right: 20px;
                    }
                    &.save {
                      @include b2g;
                      width: 115px;
                      margin-right: 20px;
                    }
                    &.delete {
                      @include b1g;
                      width: 40px;
                      padding: 0 !important;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      svg g {
                        fill: $white;
                      }
                    }
                  }
                }
              }
            }
          }
          .content-tools {
            .edit-tool {
              display: none;
            }
          }
        }
        .post-form-wrapper {
          position: relative;
        }
        .content-tools {
          width: 100%;
          display: flex;
          justify-content: center;
          position: absolute;
          bottom: -70px;
          right: 0;
          .tool {
            width: 60px;
            max-width: 60px;
            height: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative;
            background-color: transparent;
            transition: all .5s ease-in-out;
            .icon {
              width: 20px;
              height: 20px;
              margin-bottom: 10px;
            }
            .text {
              font-family: PTSans-Bold;
              font-size: 14px;
            }
            &.edit-tool {
              .text {
                color: $blue-dark-1;
              }
              .icon {
                svg g {
                  fill:  $blue-dark-1;
                  transition: fill .5s ease-in-out;
                }
              }
              .has-hover &:hover {
                .text {
                  color: $blue-dark-3;
                  transition: color .5s ease-in-out;
                }
                .icon {
                  svg g {
                    fill: $blue-dark-3;
                    transition: fill .5s ease-in-out;
                  }
                }
              }
            }
            &.delete-tool {
              .text {
                color: $red;
                transition: color .5s ease-in-out;
              }
              .icon {
                svg g {
                  fill:  $red;
                  transition: fill .5s ease-in-out;
                }
              }
              .has-hover &:hover {
                .text {
                  color: $red-dark-1;
                  transition: color .5s ease-in-out;
                }
                .icon {
                  svg g {
                    fill: $red-dark-1;
                    transition: fill .5s ease-in-out;
                  }
                }
              }
            }
          }
          .custom-popover {
            padding: 20px !important;
            p {
              font-size: 14px !important;
            }
            &.n1f {
              @include n1f;
              left: auto;
              top: 40px;
            }
            &.n1i {
              @include n1i;
              top: auto;
              left: -245px;
            }
          }
        }
        >.custom-popover {
          @include n2f;
          top: 10px;
          align-self: center;
        }
        &#content-0 {
          display: flex;
          flex-direction: column;
          position: relative;
        }
        &:last-of-type:not(#content-0) {
          .post-text, .code {
            height: 80px;
          }
        }
      }
      .loader-l2 {
        margin-top: 40px;
      }
    }
    .tags-wrapper {
      margin: 80px 0 40px;
      font-family: PTSans-Regular;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      .text {
        font-size: 14px;
        color: $gray-light-2;
        margin-bottom: 40px;
      }
      .tags-list {
        .tag {
          @include tag3;
          transform: scale(1);
        }
        .tags-input {
          width: auto;
          display: inline-block;
          font-size: 16px;
          color: $gray-dark-2;
          line-height: 40px;
          @include placeholder-color($gray-light-2);
          &:empty:not(.not-empty) {
            padding-left: 50%;
            text-align: left;
            &:before {
              margin-left: -100%;
              text-align: center;
              @-moz-document url-prefix() {
                margin-top: -10px;
              }
            }
          }
          &:focus {
            @include placeholder-color($blue-light-1);
          }
        }
      }
      .custom-popover {
        @include n2f;
        bottom: -20px;
      }
    }
  }
  .success-message-wrapper {
    opacity: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    .icon {
      svg path {
        fill: $green;
      }
    }
    p {
      margin-top: 20px;
      color: #000000;
      &.main-text {
        font-family: PTSans-Bold;
        font-size: 20px;
        text-transform: uppercase;
        span {
          color: $green;
        }
      }
      &.additional-text {
        font-family: PTSans-Regular;
        font-size: 14px;
      }
    }
    button {
      @include b2e;
      width: unset;
      margin: 40px auto 0;
      >a {
        width: unset;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .toolbar {
      .container {
        .toolbar-wrapper {
          .tools-wrapper {
            width: 790px;
            margin-right: 40px;
          }
        }
      }
    }
  }

  @media (min-width: 783px) {
    .toolbar {
      .admin-bar & {
        top: 32px;
      }
    }
  }

  @media (min-width: 960px) {
    .post-editor-content {
      .post-container {
        .post-content {
          .content-tools {
            width: auto;
            top: 0;
            right: -130px;
            flex-direction: column;
            justify-content: flex-start;
            .tool {
              width: 90px;
              max-width: 90px;
              height: 90px;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1340px) {
    .toolbar {
      .container {
        .toolbar-wrapper {
          .tools-wrapper {
            margin-right: 80px;
          }
        }
      }
    }
    .post-editor-content {
      .post-container {
        .post-content {
          .content-tools {
            right: -160px;
            .tool {
              width: 120px;
              max-width: 120px;
              height: 90px;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1880px) {
    .toolbar {
      right: 360px;
    }
  }

  @media (min-width: 2480px) {
    .toolbar {
      right: 40px;
    }
  }
}