/*==================================
   Post
====================================*/

.single-post, .post-editor {
  .post-content {
    h1 {  @include post-heading-1;  }
    h2 {  @include post-heading-2;  }
    h3 {  @include post-heading-3;  }
    ul {  @include bullet-list;  }
    ol {  @include number-list;  }
    li { list-style-image: url('/../../images/icons/bullet-point.svg'); }
    hr {
      display: inline-block;
      width: 100%;
      height: 120px;
      margin: 0;
      padding: 0;
      border: none;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('/../../images/divider.svg');
    }
    img {
      height: auto;
      border-radius: 3px;
      margin: 40px 0;
    }
    a {
      color: $blue-dark-1 !important;
      transition: color .5s ease-in-out;
    }
    p {
      font-family: PTSans-Regular;
      font-size: 20px;
      line-height: 30px;
      input {
        &[type='submit'], &[type='button'] {
          margin: 0 auto;
        }
      }
    }
    b, strong {
      font-family: PTSans-Bold, sans-serif;
    }
    i, em {
      font-style: italic;
    }
    input {
      &[type='text'], &[type='email'] {
        width: 100%;
        background-color: $background;
        height: 40px;
        padding: 10px;
        margin: 10px 0;
        font-family: PTSans-Regular;
        font-size: 16px;
        line-height: 18px;
        border-radius: 3px;
      }
      &[type='button'], &[type='submit'] {
        @include b2e;
      }
    }
    pre {
      white-space: pre-wrap;
    }
    blockquote {
      @include post-quote;
      text-align: center;
    }
    iframe {
      max-width: 100%;
      border-radius: 3px;
    }
    .post-image-wrapper img {
      margin: 0;
    }
  }

  // Hover (not for mobile devices)
  &.has-hover {
    .post-content {
      a {
        &:hover {
          color: $blue-dark-3 !important;
          transition: color .5s ease-in-out;
        }
      }
    }
  }
}

// Post content styles
.category-label-wrapper:not(.post-preview-label) {
  @include post-category;
}

.post-title {
  @include post-title;
}
.post-editor-content {
  .post-container {
    width: 100vw !important;
    font-size: 20px;
  }
}
.post-content {
  flex-grow: 1;
  text-align: left;
  .post-container {
    padding: 0;
  }
  .code {
    font-family: PTSans-Regular, sans-serif;
    font-size: 12px;
    color: $gray-dark-2;
    line-height: 18px;
  }
  .post-text {  @include post-text;  }
  .post-quote-wrapper {
    @include post-quote-wrapper;
    .additional-text {
      font-family: PTSans-Regular, sans-serif;
      font-size: 20px;
      font-style: normal;
      color: $gray-light-2;
    }
  }
  .post-image-wrapper {  @include post-image;  }
  .post-video-wrapper {
    iframe {
      width: 100% !important;
      border-radius: 3px;
    }
    .video-title {
      margin-top: 40px;
      a {
        font-family: PTSans-Bold, sans-serif;
        font-size: 16px;
        color: $blue-dark-1;
        .has-hover &:hover {
          color: $blue-dark-3;
        }
      }
    }
    .additional-text {
      margin-top: 20px;
    }
  }
  .post-image-wrapper, .post-video-wrapper {
    margin-top: 30px;
    .additional-text {
      font-family: PTSans-Regular, sans-serif;
      font-size: 16px;
      font-style: italic;
      color: $gray-light-2;
    }
  }
}

@media (min-width: 720px) {
  .post-editor-content {
    .post-container {
      width: 640px !important;
      padding: 0;
    }
  }
}

@media (min-width: 960px) {
  .post-editor-content {
    .post-container {
      width: 560px !important;
    }
  }
}

@media (min-width: 1340px) {
  .post-content, .post-editor-content {
    .post-container {
      width: 640px !important;
    }
  }
}