<template>
    <div class="post-editor">
        <transition v-on:enter="contentEnter"
                    v-on:leave="contentLeave"
                    v-bind:css="false"
                    mode="out-in">
            <new-post-toolbar v-show="!postValidation.postSent"
                              :titleIsFocused="postTitle.focused"
                              :activeTools="activeTools"
                              :inputs="toolsInputs"
                              :popovers="popovers">
            </new-post-toolbar>
        </transition>
        <transition v-on:enter="contentEnter"
                    v-on:leave="contentLeave"
                    v-bind:css="false"
                    mode="out-in">
            <div class="post-editor-content"
                 v-show="!postValidation.postSent">
                <div class="container">
                    <div class="post-title">
                        <textarea-autosize autofocus
                                           placeholder="Enter your post name"
                                           v-model="postTitle.value"
                                           v-focus="postTitle.focused"
                                           @focus.native="postTitle.focused = true"
                                           @blur.native="postTitle.focused = false">
                        </textarea-autosize>
                        <transition v-on:enter="popoverEnter"
                                    v-on:leave="popoverLeave"
                                    v-bind:css="false">
                            <div class="custom-popover"
                                 v-show="postValidation.emptyTitle"
                                 data-position="40"
                                 v-text="'Please enter your post name'">
                            </div>
                        </transition>
                    </div>
                </div>
                <div class="container post-container">
                    <template v-for="(item, index) in postContent">
                        <transition v-on:enter="contentEnter"
                                    v-on:leave="contentLeave"
                                    v-bind:css="false">
                            <new-post-content
                                    v-show="showPostContent"
                                    :item="item"
                                    :index="index"
                                    :key="index">
                            </new-post-content>
                        </transition>
                    </template>
                    <span class="loader-l2"
                          v-if="loading">
                        <span class="loader-l2__line"></span>
                        <span class="loader-l2__line"></span>
                        <span class="loader-l2__line"></span>
                    </span>
                </div>
                <div class="container">
                    <div class="tags-wrapper">
                        <p class="text">If you want your post easier to find — write up to 20 keywords divided by coma:</p>
                        <div class="tags-list">
                            <transition-group v-on:leave="tagLeave"
                                              v-bind:css="false"
                                              v-if="!tags.focused">
                                <div class="tag" v-for="(tag, index) in tags.list"
                                     :key="tag.title"
                                     :data-index="index"
                                     v-show="tag.show"
                                     @click.stop="tag.show = false">
                                    <span>{{ tag.title }}</span>
                                    <div class="icon-wrapper">
                                        <div class="icon close-icon">
                                            <img data-markup-inline src="/../images/icons/cross.svg">
                                        </div>
                                    </div>
                                </div>
                            </transition-group>
                            <div class="tags-input"
                                 contenteditable="true"
                                 :class="{'not-empty': tags.list.length}"
                                 :data-placeholder="!tags.list.length ? 'Start typing tags divided by a coma' : 'Type here new tags…'"
                                 v-focus="tags.focused"
                                 @focus="tags.focused = true"
                                 @blur="tags.focused = false"
                                 @input="tags.extraTags = 0">
                            </div>
                        </div>
                        <transition v-on:enter="popoverDownEnter"
                                    v-on:leave="popoverDownLeave"
                                    v-bind:css="false">
                            <div class="custom-popover"
                                 v-show="tags.extraTags > 0"
                                 data-position="-20">
                                Please delete <b>{{ tags.extraTags}}</b> extra tags. Allowed tags count {{ tags.allowedTagsCount }}.
                            </div>
                        </transition>
                    </div>
                </div>
            </div>
        </transition>
        <transition v-on:enter="contentEnter"
                    v-on:leave="contentLeave"
                    v-bind:css="false"
                    mode="out-in">
            <div class="success-message-wrapper"
                 v-show="postValidation.postSent">
                <div class="icon">
                    <img data-markup-inline src="/../images/icons/success.svg">
                    <p class="main-text"><span>Thank you for your work & talent.</span><br/>'Your post was successfully sent!</p>
                    <p class="additional-text">Sorry, but we need to check your post before publication. In case your post corresponds to our rules, it will be published soon :)</p>
                    <button><a href="#">Go to profile</a></button>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import NewPostToolbar from './NewPostToolbar.vue';
    import NewPostContent from './NewPostContent.vue';
    import { PopoverTransition, PopoverTransitionDown, DropdownTransition, NewPostPageTransitions } from '../mixins/transitions';

    export default {
        name: 'new-post',
        props: ['post-to-edit'],
        mixins: [PopoverTransition, PopoverTransitionDown, DropdownTransition, NewPostPageTransitions],
        directives: { focus: focus },
        data() {
            return {
                // Editor tools
                activeTools: {
                    bold: false,
                    italic: false,
                    link: false,
                    h1: false,
                    h2: false,
                    h3: false,
                    bulletlist: false,
                    numberlist: false,
                    quote: false,
                    image: false,
                    video: false,
                    divider: false,
                    interview: false,
                    productform: false,
                    form: false,
                    code: false,
                    additionalText: false,
                },
                toolsInputs: {
                    link: {
                        maxShownLength: 19,
                        focused: false,
                        value: ''
                    },
                    video: {
                        maxShownLength: 19,
                        focused: false,
                        value: ''
                    },
                },
                selectedRange: null,
                caretPosition: null,
                caretAtEnd: true,

                // Post content
                postTitle: {
                    focused: true,
                    value: ''
                },
                postContent: [
                    {
                        type: 'text',
                        value : '',
                        htmlValue: '',
                        additionalValue: '',
                        imageIndex: '',
                        href: '',
                        focused: false,
                        show: true,
                    }
                ],
                interviews: [],
                subscribeForms: [],
                tags: {
                    focused: false,
                    value: '',
                    list: [],
                    allowedTagsCount: 20,
                    extraTags: 0,
                },
                postValidation: {
                    emptyTitle: false,
                    emptyContent: false,
                    postSent: false,
                },

                // Additional variables
                hasTouch: true,
                lastActiveContentIndex: 0,
                showPostContent: true,
                loading: false,

                // Animation variables
                categoriesDropDown: false,
                popovers: {
                    tools: {
                        bold: { show: false },
                        italic: { show: false },
                        link: { show: false, onclick: false },
                        h1: { show: false },
                        h2: { show: false },
                        h3: { show: false },
                        bulletlist: { show: false },
                        numberlist: { show: false },
                        quote: { show: false },
                        image: { show: false },
                        video: { show: false, onclick: false },
                        divider: { show: false },
                        interview: { show: false },
                        productform: { show: false },
                        form: { show: false },
                        code: { show: false },
                    }
                },
            }
        },
        methods: {
            // Main functions
            diactivateAllTools(exeptions) {
                for (let tool in this.activeTools) {
                    if (exeptions && exeptions.indexOf(tool) >= 0) continue;
                    this.activeTools[tool] = false;
                }
                this.popovers.tools.link.onclick = false;
                this.popovers.tools.video.onclick = false;
            },
            changeCategory(category) {
                this.postCategory.id = category.id;
                this.postCategory.name = category.name;
                this.postCategory.slug = category.slug;
            },
            addCommonContentBlock(type, htmlValue) {
                let newPostContent = {
                    type: type,
                    value: '',
                    htmlValue: htmlValue ? htmlValue : '',
                    additionalValue: '',
                    focused: type !== 'text',
                    show: true,
                };
                if (type === 'quote') {
                    let selection = window.getSelection();
                    if (selection) newPostContent.value = selection.toString();
                    this.activeTools.italic = true;
                }
                this.addContentBlock(type, newPostContent);
            },
            addImageContentBlock(href) {
                let newPostContent = {
                    type: 'image',
                    value: href,
                    htmlValue: '',
                    additionalValue: '',
                    href: href,
                    focused: true,
                    show: true,
                };
                this.addContentBlock('image', newPostContent);
            },
            addVideoContentBlock(value, href, source, title) {
                let newPostContent = {
                    type: 'video',
                    value: value,
                    htmlValue: '',
                    additionalValue: '',
                    href: href,
                    title: title,
                    source: source,
                    focused: true,
                    show: true,
                };
                this.addContentBlock('video', newPostContent);
            },
            addContentBlock(type, newPostContent) {
                let lastActiveElement = this.postContent[this.lastActiveContentIndex];
                if ((!lastActiveElement.value || !lastActiveElement.value.length) &&
                    (type !== 'text' || type === lastActiveElement.type)) {

                    if (lastActiveElement.type === type && !this.activeTools.code) {
                        this.postContent[this.lastActiveContentIndex] = {
                            type: 'text',
                            value: '',
                            htmlValue: '',
                            additionalValue: '',
                            focused: false,
                            show: true,
                        };
                    } else if (lastActiveElement.type === 'text') {
                        this.$set(this.postContent, this.lastActiveContentIndex, newPostContent);
                    }

                    let data = this.postContent;
                    this.postContent = [];
                    this.$nextTick(() => {
                        this.postContent = data;
                        this.postContent[this.lastActiveContentIndex].focused = true;
                    });
                } else {
                    let lastActiveItem = this.postContent[this.lastActiveContentIndex],
                        precedingText= '',
                        followingText = '',
                        precedingHtml= '',
                        followingHtml = '';

                    if (lastActiveItem.type === 'text' && type !== 'text') {
                        let node = this.caretPosition.focusNode,
                            selection = window.getSelection(),
                            selectedText = selection.toString(),
                            range;

                        if (selection.rangeCount > 0 && selectedText.length && selectedText !== ' ') {
                            // Set following text
                            range = selection.getRangeAt(0).cloneRange();
                            range.collapse(true);
                            range.setStart(node, range.startOffset+selectedText.length);
                            range.setEnd(node, node.length);
                            followingText = range.toString();

                            let nextNode = node,
                                nextSibling = true;
                            while (nextSibling || (nextNode.classList && !nextNode.classList.contains('post-text'))) {
                                nextSibling = nextNode.nextSibling;
                                if (!nextSibling) {
                                    nextNode = nextNode.parentNode;
                                    continue;
                                }
                                followingHtml += nextSibling.outerHTML ? nextSibling.outerHTML : nextSibling.innerText;
                                nextNode = nextSibling;
                            }

                            // Set preceding text
                            range = selection.getRangeAt(0).cloneRange();
                            range.collapse(true);
                            range.setStart(node, 0);
                            precedingText = range.toString();

                            let prevNode = node,
                                prevSibling = true;
                            while (prevSibling || (prevNode.classList && !prevNode.classList.contains('post-text'))) {
                                prevSibling = prevNode.previousSibling;
                                if (!prevSibling) {
                                    prevNode = prevNode.parentNode;
                                    continue;
                                }
                                precedingHtml += prevSibling.outerHTML ? prevSibling.outerHTML : nextSibling.innerText;
                                prevNode = prevSibling;
                            }

                            // Set new html value of last active item from it's 1 part
                            if (precedingText.length) {
                                this.$set(this.postContent[this.lastActiveContentIndex], 'htmlValue', precedingText + precedingHtml);
                            } else {
                                this.postContent.splice(this.lastActiveContentIndex, 1);
                            }
                        }
                    }

                    // Ad new item
                    this.postContent.splice(this.lastActiveContentIndex+1, 0, newPostContent);
                    if (type === 'divider') this.lastActiveContentIndex++;

                    // Create next item from 2 part of last active item
                    if (followingText.length) {
                        let newTextContent = {
                            type: 'text',
                            value: '',
                            htmlValue: followingHtml + followingText,
                            additionalValue: '',
                            focused: false,
                            show: true,
                        };
                        this.postContent.splice(this.lastActiveContentIndex+2, 0, newTextContent);
                    }

                    let data = this.postContent;
                    this.postContent = [];
                    this.$nextTick(() => {
                        this.postContent = data;
                        this.postContent[this.lastActiveContentIndex].focused = false;
                        this.$nextTick(() => {
                            this.postContent[this.lastActiveContentIndex].focused = true;
                        })
                    });
                }
            },
            removeBlock(index) {
                this.postContent.splice(index, 1);

                let data = this.postContent;
                this.postContent = [];
                this.$nextTick(() => {
                    this.postContent = data;
                    if (this.postContent[index-1]) {
                        this.postContent[index-1].focused = false;
                        this.$nextTick(() => this.postContent[index-1].focused = true);
                    }
                });
            },
            sendPost() {
                // Check title
                if (!this.postTitle.value.length) {
                    this.postValidation.emptyTitle = true;
                    return;
                }
                // Check content
                let isEmptyPost = true;
                for (let item in this.postContent) {
                    let contentItem = this.postContent[item];
                    if ((contentItem.type === 'text' && contentItem.value.length) || contentItem.type !== 'text') {
                        isEmptyPost = false;
                        break;
                    }
                }
                if (isEmptyPost) {
                    this.postValidation.emptyContent = true;
                    return;
                }
                // Generate html
                let content = '',
                    tags = [],
                    editableReg = /contenteditable=".{4,5}" /g,
                    placeholderReg = /data-placeholder="[^\".]*" /g,
                    emptyAdditionalTextReg = /<p class="additional-text">\W?<\/p>/g;

                for (let index in this.postContent) {
                    let item = this.postContent[index];
                    if (item.type === 'text' && item.value.length) {
                        if (index != 0) content += '<br>';
                        if (item.htmlValue.length) content += '<p class="post-text">' + item.htmlValue + '</p>';
                    } else if ((item.type === 'quote' || item.type === 'image' || item.type === 'video') && item.value.length) {
                        content += '<div class="post-' + item.type  + '-wrapper">' + item.htmlValue.replace(editableReg, '').replace(placeholderReg, '').replace(emptyAdditionalTextReg, '') + '</div>';
                    }
                }

                // Get tags
                for (let tag in this.tags.list) {
                    tags.push(this.tags.list[tag].title)
                }

                // Create post
                let newPost = {
                    title: this.postTitle.value,
                    content: content,
                    tags: tags
                }

                // Emit event
                this.$root.$emit('post-created', newPost);

                // On success post save
                this.postValidation.postSent = true;
            },
            updateTags() {
                let tagsWrapper = this.$el.getElementsByClassName('tags-input')[0];
                this.tags.value = tagsWrapper.innerText;
                tagsWrapper.innerText = '';
                this.tags.list = [];
                if (this.tags.value) {
                    let tags = this.tags.value.split(/,\s*/),
                        addedTags = [];
                    for (let item in tags) {
                        let tag = tags[item];
                        if (tag.length && addedTags.indexOf(tag) < 0 && !(/^\s+$/.test(tag))) {
                            this.tags.list.push({
                                title: tag,
                                show: true
                            });
                            addedTags.push(tag);
                        }
                    }
                }
                this.tags.extraTags = this.tags.list.length - this.tags.allowedTagsCount;
                if (this.tags.extraTags <= 0) {
                    tagsWrapper.blur();
                } else {
                    this.tags.focused = true;
                }
            },

            // Additional functions
            placeCaretAtEnd(el) {
                el.focus();
                if (typeof window.getSelection != "undefined"
                    && typeof document.createRange != "undefined") {
                    let range = document.createRange();
                    range.selectNodeContents(el);
                    range.collapse(false);
                    let sel = window.getSelection();
                    sel.removeAllRanges();
                    sel.addRange(range);
                } else if (typeof document.body.createTextRange != "undefined") {
                    let textRange = document.body.createTextRange();
                    textRange.moveToElementText(el);
                    textRange.collapse(false);
                    textRange.select();
                }
            },
            enterKeyEvent(event) {
                if (event.keyCode === 13 && this.tags.focused) {
                    event.preventDefault();
                    this.tags.focused = false;
                }
            },
            resizeEvent(event) {
                this.hasTouch = 'ontouchstart' in document.documentElement || navigator.maxTouchPoints > 0 || navigator.msMaxTouchPoints > 0;
                if (this.hasTouch) {
                    document.body.classList.add('has-hover');
                } else {
                    document.body.classList.remove('has-hover');
                }
            },
        },
        created() {
            window.addEventListener('keydown', this.enterKeyEvent);
        },
        mounted() {
            window.removeEventListener('resize', this.resizeEvent);
            // Edit post from props
            if (this.postToEdit) {
                this.postTitle.value = this.postToEdit.value;
                document.querySelector('.post-text').innerText = post.content;
                this.$emit('edit-mode', false);
                if (this.postToEdit.tags) {
                    let tagsWrapper = this.$el.getElementsByClassName('tags-input')[0],
                        tagsString = '';
                    for (let item in this.postToEdit.tags) {
                        tagsString += this.postToEdit.tags[item].name;
                        if (item < this.postToEdit.tags.length-1) tagsString += ',';

                    }
                    tagsWrapper.innerText = tagsString;
                    this.tags.extraTags = -this.tags.allowedTagsCount + this.postToEdit.tags.length;
                    this.updateTags();
                }
            }
        },
        watch: {
            'tags.focused': function (focused) {
              let tagsWrapper = this.$el.getElementsByClassName('tags-input')[0];
              if (focused) {
                  for (let item in this.tags.list) {
                      tagsWrapper.innerText += this.tags.list[item].title;
                      if (+item !== this.tags.list.length-1) tagsWrapper.innerText += ', ';
                  }
                  this.placeCaretAtEnd(tagsWrapper);
              } else {
                  this.updateTags();
              }
          },
            'postTitle.value': function (val) {
                if (val.length) this.$set(this.postValidation, 'emptyTitle', false);
            }
        },
        components: {
            NewPostToolbar,
            NewPostContent,
        },
        beforeDestroy() {
            window.removeEventListener('keydown', this.enterKeyEvent);
            window.removeEventListener('resize', this.resizeEvent);
        },
    }
</script>