<template>
    <div class="toolbar">
        <div class="container">
            <div class="toolbar-wrapper">
                <overflow-scroller class="tools-wrapper">
                    <template slot="popoversWrapper">
                        <ul class="tools popovers" ref="tools">
                            <li class="tool">
                                <button>
                                    <transition v-on:enter="popoverEnter"
                                                v-on:leave="popoverLeave"
                                                v-bind:css="false">
                                        <div class="custom-popover"
                                             v-show="popovers.tools.bold.show && !$root.hasTouch"
                                             data-position="15"
                                             v-text="'Bold'">
                                        </div>
                                    </transition>
                                </button>
                            </li>
                            <li class="tool">
                                <button>
                                    <transition v-on:enter="popoverEnter"
                                                v-on:leave="popoverLeave"
                                                v-bind:css="false">
                                        <div class="custom-popover"
                                             v-show="popovers.tools.italic.show && !$root.hasTouch"
                                             data-position="15"
                                             v-text="'Italic'">
                                        </div>
                                    </transition>
                                </button>
                            </li>
                            <li class="tool">
                                <div class="toolbar-button">
                                    <transition v-on:enter="popoverEnter"
                                                v-on:leave="popoverLeave"
                                                v-bind:css="false">
                                        <div class="custom-popover"
                                             v-show="popovers.tools.link.show && !activeTools.link && !$root.hasTouch"
                                             data-position="15"
                                             v-text="'Insert or edit link'">
                                        </div>
                                    </transition>
                                    <transition v-on:enter="popoverEnter"
                                                v-on:leave="popoverLeave"
                                                v-bind:css="false">
                                        <div class="custom-popover"
                                             v-show="popovers.tools.link.onclick"
                                             data-position="15">
                                            <label for="tool-link" class="input-wrapper"
                                                   :class="[inputs.link.value.length == 0 ? 'empty' : '', inputBlurLeft ? 'blur-left' : '', inputBlurRight ? 'blur-right' : '']"
                                                   @click.stop
                                            >
                                                <input id="tool-link" type="text"
                                                       placeholder="Insert link"
                                                       v-model="inputs.link.value"
                                                       v-focus="inputs.link.focused"
                                                       @focus="inputs.link.focused = true"
                                                       @blur="inputs.link.focused = false"
                                                       @click.stop="changeBlurPosition('link', $event)"
                                                       @keyup="changeBlurPosition('link', $event)"
                                                       ref="linkInput"
                                                >
                                                <button class="ok-btn no-move"
                                                        @click="saveInput('link')">
                                                    <img data-markup-inline src="/../images/icons/check.svg">
                                                </button>
                                                <button class="clear-btn"
                                                        @click="clearInput('link')">
                                                    <div class="clear-icon-wrapper">
                                                        <img data-markup-inline src="/../images/icons/cross.svg">
                                                    </div>
                                                </button>
                                            </label>
                                        </div>
                                    </transition>
                                </div>
                            </li>
                            <li class="tool">
                                <button>
                                    <transition v-on:enter="popoverEnter"
                                                v-on:leave="popoverLeave"
                                                v-bind:css="false">
                                        <div class="custom-popover"
                                             v-show="popovers.tools.h1.show && !$root.hasTouch"
                                             data-position="15"
                                             v-text="'Header 1'">
                                        </div>
                                    </transition>
                                </button>
                            </li>
                            <li class="tool">
                                <button>
                                    <transition v-on:enter="popoverEnter"
                                                v-on:leave="popoverLeave"
                                                v-bind:css="false">
                                        <div class="custom-popover"
                                             v-show="popovers.tools.h2.show && !$root.hasTouch"
                                             data-position="15"
                                             v-text="'Header 2'">
                                        </div>
                                    </transition>
                                </button>
                            </li>
                            <li class="tool">
                                <button>
                                    <transition v-on:enter="popoverEnter"
                                                v-on:leave="popoverLeave"
                                                v-bind:css="false">
                                        <div class="custom-popover"
                                             v-show="popovers.tools.h3.show && !$root.hasTouch"
                                             data-position="15"
                                             v-text="'Header 3'">
                                        </div>
                                    </transition>
                                </button>
                            </li>
                            <li class="tool">
                                <button>
                                    <transition v-on:enter="popoverEnter"
                                                v-on:leave="popoverLeave"
                                                v-bind:css="false">
                                        <div class="custom-popover"
                                             v-show="popovers.tools.bulletlist.show && !$root.hasTouch"
                                             data-position="15"
                                             v-text="'Bulleted list'">
                                        </div>
                                    </transition>
                                </button>
                            </li>
                            <li class="tool">
                                <button>
                                    <transition v-on:enter="popoverEnter"
                                                v-on:leave="popoverLeave"
                                                v-bind:css="false">
                                        <div class="custom-popover"
                                             v-show="popovers.tools.numberlist.show && !$root.hasTouch"
                                             data-position="15"
                                             v-text="'Numbered list'">
                                        </div>
                                    </transition>
                                </button>
                            </li>
                            <li class="tool">
                                <button>
                                    <transition v-on:enter="popoverEnter"
                                                v-on:leave="popoverLeave"
                                                v-bind:css="false">
                                        <div class="custom-popover"
                                             v-show="popovers.tools.quote.show && !$root.hasTouch"
                                             data-position="15"
                                             v-text="'Quote'">
                                        </div>
                                    </transition>
                                </button>
                            </li>
                            <li class="tool">
                                <button>
                                    <transition v-on:enter="popoverEnter"
                                                v-on:leave="popoverLeave"
                                                v-bind:css="false">
                                        <div class="custom-popover"
                                             v-show="popovers.tools.image.show && !$root.hasTouch"
                                             data-position="15"
                                             v-text="'Image'">
                                        </div>
                                    </transition>
                                </button>
                            </li>
                            <li class="tool">
                                <div class="toolbar-button">
                                    <transition v-on:enter="popoverEnter"
                                                v-on:leave="popoverLeave"
                                                v-bind:css="false">
                                        <div class="custom-popover"
                                             v-show="popovers.tools.video.show && !activeTools.video && !$root.hasTouch"
                                             data-position="15"
                                             v-text="'Video'">
                                        </div>
                                    </transition>
                                    <transition v-on:enter="popoverEnter"
                                                v-on:leave="popoverLeave"
                                                v-bind:css="false">
                                        <div class="custom-popover"
                                             v-show="popovers.tools.video.onclick"
                                             data-position="15">
                                            <label for="tool-video" class="input-wrapper"
                                                   :class="[inputs.video.value.length == 0 ? 'empty' : '', inputBlurLeft ? 'blur-left' : '', inputBlurRight ? 'blur-right' : '']"
                                                   @click.stop
                                            >
                                                <input id="tool-video" type="text"
                                                       placeholder="Insert link to video"
                                                       v-model="inputs.video.value"
                                                       v-focus="inputs.video.focused"
                                                       @focus="inputs.video.focused = true"
                                                       @blur="inputs.video.focused = false"
                                                       @click.stop="changeBlurPosition('video', $event)"
                                                       @keyup="changeBlurPosition('video', $event)"
                                                       ref="videoInput"
                                                >
                                                <button class="ok-btn no-move"
                                                        @click="saveInput('video')">
                                                    <img data-markup-inline src="/../images/icons/check.svg">
                                                </button>
                                                <button class="clear-btn"
                                                        @click="clearInput('video')">
                                                    <div class="clear-icon-wrapper">
                                                        <img data-markup-inline src="/../images/icons/cross.svg">
                                                    </div>
                                                </button>
                                            </label>
                                        </div>
                                    </transition>
                                </div>
                            </li>
                            <li class="tool">
                                <button>
                                    <transition v-on:enter="popoverEnter"
                                                v-on:leave="popoverLeave"
                                                v-bind:css="false">
                                        <div class="custom-popover"
                                             v-show="popovers.tools.divider.show && !$root.hasTouch"
                                             data-position="15"
                                             v-text="'Divider'">
                                        </div>
                                    </transition>
                                </button>
                            </li>
                            <li class="tool">
                                <button>
                                    <transition v-on:enter="popoverEnter"
                                                v-on:leave="popoverLeave"
                                                v-bind:css="false">
                                        <div class="custom-popover"
                                             v-show="popovers.tools.code.show && !$root.hasTouch"
                                             data-position="15"
                                             v-text="'HTML code'">
                                        </div>
                                    </transition>
                                </button>
                            </li>
                        </ul>
                    </template>
                    <template slot="innerWrapper">
                        <ul class="tools">
                            <li class="tool bold"
                                :class="{'active': activeTools.bold, 'disabled': disabledTools.bold}"
                                @mouseenter="showToolPopover('bold')"
                                @mouseleave="hideToolPopover('bold')"
                            >
                                <button @click="formatText('bold')">
                                    <img data-markup-inline src="/../images/icons/post-editor/bold.svg">
                                </button>
                            </li>
                            <li class="tool italic"
                                :class="{'active': activeTools.italic, 'disabled': disabledTools.italic}"
                                @mouseenter="showToolPopover('italic')"
                                @mouseleave="hideToolPopover('italic')"
                            >
                                <button @click="formatText('italic')">
                                    <img data-markup-inline src="/../images/icons/post-editor/italic.svg">
                                </button>
                            </li>
                            <li class="tool link"
                                :class="{'active': activeTools.link, 'disabled': disabledTools.link}"
                                @click="setActiveTool('link')"
                                @mouseenter="showToolPopover('link')"
                                @mouseleave="hideToolPopover('link')"
                                v-click-outside="closeLinkPopover"
                            >
                                <button v-if="activeTools.code">
                                    <img data-markup-inline src="/../images/icons/post-editor/link.svg" >
                                </button>
                                <div class="toolbar-button" v-else>
                                    <img data-markup-inline src="/../images/icons/post-editor/link.svg">
                                </div>
                            </li>
                            <li class="tool h1"
                                :class="{'active': activeTools.h1, 'disabled': disabledTools.h1}"
                                @mouseenter="showToolPopover('h1')"
                                @mouseleave="hideToolPopover('h1')"
                            >
                                <button @click="insertHeading('h1')">
                                    <img data-markup-inline src="/../images/icons/post-editor/h1.svg">
                                </button>
                            </li>
                            <li class="tool h2"
                                :class="{'active': activeTools.h2, 'disabled': disabledTools.h2}"
                                @mouseenter="showToolPopover('h2')"
                                @mouseleave="hideToolPopover('h2')"
                            >
                                <button @click="insertHeading('h2')">
                                    <img data-markup-inline src="/../images/icons/post-editor/h2.svg">
                                </button>
                            </li>
                            <li class="tool h3"
                                :class="{'active': activeTools.h3, 'disabled': disabledTools.h3}"
                                @mouseenter="showToolPopover('h3')"
                                @mouseleave="hideToolPopover('h3')"
                            >
                                <button @click="insertHeading('h3')">
                                    <img data-markup-inline src="/../images/icons/post-editor/h3.svg">
                                </button>
                                </li>
                            <li class="tool bulletlist"
                                :class="{'active': activeTools.bulletlist, 'disabled': disabledTools.bulletlist}"
                                @mouseenter="showToolPopover('bulletlist')"
                                @mouseleave="hideToolPopover('bulletlist')"
                            >
                                <button @click="formatText('bulletlist', 'insertUnorderedList')">
                                    <img data-markup-inline src="/../images/icons/post-editor/bulletlist.svg">
                                </button>
                            </li>
                            <li class="tool numberlist"
                                :class="{'active': activeTools.numberlist, 'disabled': disabledTools.numberlist}"
                                @mouseenter="showToolPopover('numberlist')"
                                @mouseleave="hideToolPopover('numberlist')"
                            >
                                <button @click="formatText('numberlist', 'insertOrderedList')">
                                    <img data-markup-inline src="/../images/icons/post-editor/numberlist.svg">
                                </button>
                            </li>
                            <li class="tool quote"
                                :class="{'active': activeTools.quote, 'disabled': disabledTools.quote}"
                                @click="setActiveTool('quote')"
                                @mouseenter="showToolPopover('quote')"
                                @mouseleave="hideToolPopover('quote')"
                            >
                                <button @click="$parent.addCommonContentBlock('quote')">
                                    <img data-markup-inline src="/../images/icons/post-editor/quote.svg">
                                </button>
                            </li>
                            <li class="tool image"
                                :class="{'active': activeTools.image, 'disabled': disabledTools.image}"
                                @mouseenter="showToolPopover('image')"
                                @mouseleave="hideToolPopover('image')"
                            >
                                <button @click="chooseImage">
                                    <img data-markup-inline src="/../images/icons/post-editor/image.svg">
                                </button>
                                <form name="image-uploader">
                                    <input type="file" name="image" id="upload-image" @change="createImage">
                                </form>
                            </li>
                            <li class="tool video"
                                :class="{'active': activeTools.video, 'disabled': disabledTools.video}"
                                @click="setActiveTool('video')"
                                @mouseenter="showToolPopover('video')"
                                @mouseleave="hideToolPopover('video')"
                                v-click-outside="closeVideoPopover"
                            >
                                <button v-if="activeTools.code">
                                    <img data-markup-inline src="/../images/icons/post-editor/video.svg">
                                </button>
                                <div class="toolbar-button" v-else>
                                    <img data-markup-inline src="/../images/icons/post-editor/video.svg">
                                </div>
                            </li>
                            <li class="tool divider"
                                :class="{'active': activeTools.divider, 'disabled': disabledTools.divider}"
                                @mouseenter="showToolPopover('divider')"
                                @mouseleave="hideToolPopover('divider')"
                            >
                                <button @click="addHorizontalRule">
                                    <img data-markup-inline src="/../images/icons/post-editor/separator.svg">
                                </button>
                            </li>
                            <li class="tool code"
                                :class="{'active': activeTools.code, 'disabled': disabledTools.code}"
                                @click="setActiveTool('code')"
                                @mouseenter="showToolPopover('code')"
                                @mouseleave="hideToolPopover('code')"
                            >
                                <button>
                                    <img data-markup-inline src="/../images/icons/post-editor/code.svg">
                                </button>
                            </li>
                        </ul>
                    </template>
                </overflow-scroller>
                <button class="send-post" @click="$parent.sendPost">Send post</button>
            </div>
        </div>
    </div>
</template>

<script>
    import OverflowScroller from './OverflowScroller.vue';
    import { PopoverTransition } from '../mixins/transitions';

    export default {
        name: 'new-post-toolbar',
        props: ['titleIsFocused', 'activeTools', 'inputs', 'popovers'],
        mixins: [PopoverTransition],
        directives: { focus: focus },
        data() {
            return {
                // Main variables
                disabledTools: {
                    bold: true,
                    italic: true,
                    link: true,
                    h1: true,
                    h2: true,
                    h3: true,
                    bulletlist: true,
                    numberlist: true,
                    quote: true,
                    image: true,
                    video: true,
                    divider: true,
                    code: true
                },
                isToolBarHidden: false,
                toolBarPosition: 'left',
                inputBlurLeft: false,
                inputBlurRight: false,
            }
        },
        methods: {
            // Main methods
            setActiveTool(toolName) {
                if (toolName === 'code') {
                    this.$parent.showPostContent = false;
                    setTimeout(() => {
                        this.activeTools.code = !this.activeTools.code;
                        this.$parent.$emit('edit-mode', this.activeTools.code);
                        this.$parent.showPostContent = true;
                    }, 300);
                } else if (this.activeTools.code && toolName === 'link') {
                    this.insertInCode('a', ['href']);
                } else if (!this.activeTools.code || toolName === 'video') {
                    if (this.activeTools[toolName]) {
                        if (typeof this.popovers.tools[toolName].onclick !== 'undefined' && !this.popovers.tools[toolName].onclick) {
                            this.popovers.tools[toolName].onclick = true;
                            this.inputs[toolName].focused = true;
                        } else {
                            this.activeTools[toolName] = false;
                            if (typeof this.popovers.tools[toolName].onclick !== 'undefined') this.popovers.tools[toolName].onclick = false;
                            if (typeof this.inputs[toolName] !== "undefined") this.inputs[toolName].focused = false;
                        }
                    } else {
                        this.activeTools[toolName] = true;
                        this.popovers.tools[toolName].show = false;
                        if (typeof this.popovers.tools[toolName].onclick !== 'undefined') this.popovers.tools[toolName].onclick = true;
                        if (typeof this.inputs[toolName] !== "undefined") this.inputs[toolName].focused = true;
                        if (toolName === 'link' || toolName === 'video') {
                            this.$set(this.$parent.toolsInputs[toolName], 'focused', false);
                            this.$nextTick(() => {
                                this.$set(this.$parent.toolsInputs[toolName], 'focused', true);
                            });
                        }
                    }
                }
            },
            formatText(tool, command) {
                if (!this.$parent.activeTools.code) {
                    this.setActiveTool(tool);
                    if (!command) command = tool;
                    if (this.activeTools[tool] && !document.queryCommandState(command) ||
                        !this.activeTools[tool] && document.queryCommandState(command)) {
                        document.execCommand(command, false, null);
                        this.$parent.postContent[this.$parent.lastActiveContentIndex].focused = true;
                        let selection = document.getSelection();
                        selection.removeAllRanges();
                        if (this.$parent.selectedRange) selection.addRange(this.$parent.selectedRange);
                    }
                } else {
                    if (tool === 'bold') {
                        this.insertInCode('b')
                    } else if (tool === 'italic') {
                        this.insertInCode('i')
                    } else if (tool === 'bulletlist') {
                        this.insertInCode('ul')
                    } else if (tool === 'numberlist') {
                        this.insertInCode('ol')
                    }
                }

            },
            insertHeading(tag) {
                if (!this.$parent.activeTools.code) {
                    if (!this.activeTools[tag]) {
                        this.activeTools.h1 = false;
                        this.activeTools.h2 = false;
                        this.activeTools.h3 = false;
                        document.execCommand('formatBlock', false, '<' + tag + '>');
                        if (!this.activeTools.bold && !document.queryCommandState('bold')) document.execCommand('bold', false, null);
                    } else {
                        document.execCommand('formatBlock', false, '<pre>');
                        if (this.activeTools.bold && document.queryCommandState('bold')) {
                            this.activeTools.bold = false;
                            document.execCommand('bold', false, null);
                        }
                    }
                    this.setActiveTool(tag);
                } else {
                    this.insertInCode(tag);
                }
            },
            addHorizontalRule() {
                if (!this.activeTools.code) {
                    document.execCommand('insertHorizontalRule', false, null);
                } else {
                  this.insertInCode('hr')
                }

            },
            insertInCode(tag, attributes) {
                let toInsert = '<' + tag;

                if (attributes) {
                    for (let item in attributes) {
                        toInsert += ' ' + attributes[item] + '=""';
                    }
                }

                toInsert += '>';

                let offset = toInsert.length;

                if (tag === 'ul' || tag === 'ol') {
                    toInsert += '<li></li>';
                    offset += 4;
                }

                if (tag != 'hr' && tag != 'br') toInsert += '</' + tag + '>';

                let selection = document.getSelection(),
                    cursorPosition = selection.extentOffset,
                    node = selection.extentNode ? selection.extentNode : selection.focusNode,
                    oldContent = selection.extentNode ? node.nodeValue : node.textContent,
                    range = document.createRange();

                if (oldContent) {
                    if (selection.extentNode) {
                        selection.extentNode.nodeValue = oldContent.substring(0, cursorPosition) + toInsert + oldContent.substring(cursorPosition);
                        range.setStart(node, cursorPosition+offset);
                        range.collapse(true);
                        selection.removeAllRanges();
                        selection.addRange(range)
                    } else {
                        node.textContent += toInsert;
                    }
                } else {
                    node.textContent = toInsert;
                }
            },

            clearInput(toolName) {
                if (toolName == 'link') {
                    if (this.$parent.activeTools.image) {
                        this.$parent.$emit('link-for-image', false);
                        this.$parent.postContent[this.$parent.lastActiveContentIndex].focused = false;
                        this.$nextTick(() => this.$parent.postContent[this.$parent.lastActiveContentIndex].focused = true);
                    } else if (this.$parent.selectedRange) {
                        let selection = document.getSelection();
                        selection.removeAllRanges();
                        selection.addRange(this.$parent.selectedRange);
                        document.execCommand('unlink', false, null);
                    }
                } else if (toolName == 'video') {
                    this.inputs.video.value = '';
                }
                this.inputs[toolName].value = '';
            },
            saveInput(toolName) {
                if (toolName == 'link' && this.$parent.lastActiveContentIndex !== null) {
                    if (this.$parent.activeTools.image) {
                        this.$parent.$emit('link-for-image', this.inputs.link.value);
                        this.$parent.postContent[this.$parent.lastActiveContentIndex].focused = false;
                        this.$nextTick(() => this.$parent.postContent[this.$parent.lastActiveContentIndex].focused = true);
                    } else {
                        this.$parent.postContent[this.$parent.lastActiveContentIndex].focused = true;
                        let selection = document.getSelection();
                        selection.removeAllRanges();
                        if (!this.$parent.selectedRange) {
                            this.popovers.tools.link.onclick = false;
                            return;
                        }
                        selection.addRange(this.$parent.selectedRange);
                        document.execCommand('createLink', false, this.inputs.link.value);
                        this.$parent.selectedRange = null;
                    }
                } else if (toolName == 'video') {
                    let link = this.inputs.video.value,
                        linkRegExp = /^(https?:\/\/)?(www\.)?(.+)\./,
                        linkMatch = link.match(linkRegExp),
                        videoProvider = linkMatch[3].toLowerCase();

                    if (videoProvider === 'youtube' || videoProvider === 'vimeo') {
                        let idRegExp = videoProvider === 'youtube' ? /youtube\.com\/watch\?v=(.+)$/ : 'vimeo\\.com\\/(.+)$',
                            idMatch = link.match(idRegExp);
                        this.$parent.addVideoContentBlock(idMatch[1], link, linkMatch[3]);
                    } else {
                        let lastActivePostContent = this.$parent.postContent[this.$parent.lastActiveContentIndex],
                            htmlLink = '<a href="' + link + '">' + link + '</a>';
                        if (lastActivePostContent.type === 'text') {
                            lastActivePostContent.htmlValue += htmlLink;
                        } else {
                            this.$parent.addCommonContentBlock('text', htmlLink);
                        }
                    }
                }
                this.activeTools.link = false;
                this.popovers.tools[toolName].onclick = false;
                this.inputs[toolName].value = '';
            },

            chooseImage() {
              $('#upload-image').trigger('click');
            },
            createImage(event) {
                let file = event.target.files[0] || event.dataTransfer.files[0],
                    reader = new FileReader();

                if (file.type !== 'image/png' && file.type !== 'image/jpeg' && file.type !== 'image/gif') return;

                this.$parent.loading = true;
                reader.onload = (e) => {
                    this.$parent.addImageContentBlock(e.target.result);
                };
                reader.readAsDataURL(file);
            },

            // Additional methods
            disableToolsOnHeadingOn() {
                let isDisabled = this.activeTools.h1 || this.activeTools.h2 || this.activeTools.h3;
                if (isDisabled) this.activeTools.bold = true;

                this.disabledTools.link = isDisabled;
                this.disabledTools.bulletlist = isDisabled;
                this.disabledTools.numberlist = isDisabled;
            },
            closeLinkPopover() {
                this.activeTools.link = false;
                this.popovers.tools.link.onclick = false;
            },
            closeVideoPopover() {
                this.activeTools.video = false;
                this.popovers.tools.video.onclick = false;
            },
            getCaretPosition (ctrl) {
                // IE < 9 Support
                if (document.selection) {
                    ctrl.focus();
                    let range = document.selection.createRange(),
                        rangelen = range.text.length;
                    range.moveStart ('character', -ctrl.value.length);
                    let start = range.text.length - rangelen;
                    return {'start': start, 'end': start + rangelen };
                }
                // IE >=9 and other browsers
                else if (ctrl.selectionStart || ctrl.selectionStart == '0') {
                    return {'start': ctrl.selectionStart, 'end': ctrl.selectionEnd };
                } else {
                    return {'start': 0, 'end': 0};
                }
            },

            // Animations
            showToolPopover(popoverName) {
                if (this.$parent.activeTool !== popoverName && !this.disabledTools[popoverName]) this.popovers.tools[popoverName].show = true;
            },
            hideToolPopover(popoverName) {
                this.popovers.tools[popoverName].show = false;
            },
            changeBlurPosition(inputName, event) {
                let position = this.getCaretPosition(event.target);
                if (event.type === 'keyup') {
                    if (event.code === 'ArrowRight') {
                        this.inputBlurLeft = position.start > this.inputs[inputName].maxShownLength;
                        this.inputBlurRight = position.start <= this.inputs.link.value.length - this.inputs[inputName].maxShownLength;
                    } else if (event.code === 'ArrowLeft') {
                        this.inputBlurLeft = position.start >= this.inputs.link.value.length - this.inputs[inputName].maxShownLength;
                        this.inputBlurRight = position.start < this.inputs.link.value.length - this.inputs[inputName].maxShownLength;
                    }
                } else {
                    if (this.inputs[inputName].value.length - position.start > this.inputs[inputName].maxShownLength) {
                        this.inputBlurLeft = false;
                        this.inputBlurRight = true;
                    } else if (this.inputs.link.value.length > this.inputs.link.maxShownLength) {
                        this.inputBlurLeft = true;
                        this.inputBlurRight = false;
                    }
                }
            },
            defineIsToolBarHidden() {
                let tollBarWidth = this.$refs.tools ? parseInt(window.getComputedStyle(this.$refs.tools).width) : 0,
                    wrapperWidth = parseInt(window.getComputedStyle(document.querySelector('.tools-wrapper')).width);

                this.isToolBarHidden = tollBarWidth > wrapperWidth;
            },
            moveToolBar(direction) {
                let $toolBar = $('.tools'),
                    hidenPart = this.$refs.tools ? parseInt(window.getComputedStyle(this.$refs.tools).left) : 0,
                    tollBarWidth = $toolBar.outerWidth(),
                    wrapperWidth = parseInt(window.getComputedStyle(document.querySelector('.tools-wrapper')).width)-50,
                    leftPosition = null;

                if (direction === 'right') {
                    let hiddenSpace = tollBarWidth - wrapperWidth + hidenPart;
                    leftPosition = hiddenSpace > wrapperWidth ? '-=' + wrapperWidth : -(tollBarWidth - wrapperWidth)
                } else if (direction === 'left') {
                    let hiddenSpace = hidenPart;
                    leftPosition = -hiddenSpace > wrapperWidth ? '+=' + wrapperWidth : 0
                }

                $toolBar.animate({ left: leftPosition }, 250,() => {
                    let toolBarPosition = hidenPart;
                    if (parseInt(toolBarPosition) === 0) {
                        this.toolBarPosition = 'left';
                    } else if (toolBarPosition === parseInt(-(tollBarWidth - wrapperWidth))) {
                        this.toolBarPosition = 'right';
                    } else {
                        this.toolBarPosition = 'center';
                    }
                });
            },
            fixToolbar() {
                let headerHeight = this.$root.$refs.header ? parseInt(window.getComputedStyle(this.$root.$refs.header).height) : 0;
                if (window.scrollY > headerHeight) {
                    document.querySelector('.post-editor').style.paddingTop = headerHeight;
                    document.querySelector('.toolbar').style.position = 'fixed';
                } else {
                    document.querySelector('.post-editor').style.paddingTop = 0;
                    document.querySelector('.toolbar').style.position = 'static';
                }
            }
        },
        mounted() {
            this.defineIsToolBarHidden();
            window.addEventListener('resize', this.defineIsToolBarHidden);
            window.addEventListener('scroll', this.fixToolbar);
        },
        watch: {
            'inputs.link.value': function () {
                if (this.inputs.link.value.length > this.inputs.link.maxShownLength) {
                    this.inputBlurLeft = true;
                    this.inputBlurRight = false;
                } else {
                    this.inputBlurLeft = false;
                    this.inputBlurRight = false;
                }
            },
            'focused.link': function() {
                if (this.inputs.link.value.length > this.inputs.link.maxShownLength) {
                    this.inputBlurLeft = false;
                    this.inputBlurRight = true;
                }
            },
            'inputs.link.focused': function(val) {
                if (val) {
                    this.$refs['linkInput'].focus();
                } else {
                    this.$refs['linkInput'].blur();
                }
            },
            'inputs.video.focused': function(val) {
                if (val) {
                    this.$refs['videoInput'].focus();
                } else {
                    this.$refs['videoInput'].blur();
                }
            },
            'titleIsFocused': function() {
                for (let item in this.disabledTools) {
                    this.disabledTools[item] = this.titleIsFocused;
                }
            },
            // Watching for active tool
            'popovers.tools.link.onclick': function() {
                if (this.popovers.tools.link.onclick) this.popovers.tools.video.onclick = false;
            },
            'popovers.tools.video.onclick': function() {
                if (this.popovers.tools.video.onclick) this.popovers.tools.link.onclick = false;
            },
            'activeTools.link': function() {
                if (this.activeTools.link) this.activeTools.video = false;
            },
            'activeTools.h1': function() {
                this.disableToolsOnHeadingOn();
            },
            'activeTools.h2': function() {
                this.disableToolsOnHeadingOn();
            },
            'activeTools.h3': function() {
                this.disableToolsOnHeadingOn();
            },
            'activeTools.quote': function() {
                let isDisabled = this.activeTools.quote;
                this.disabledTools.h1 = isDisabled;
                this.disabledTools.h2 = isDisabled;
                this.disabledTools.h3 = isDisabled;
                this.disabledTools.image = isDisabled;
                this.disabledTools.video = isDisabled;
                this.disabledTools.divider = isDisabled;
                this.disabledTools.interview = isDisabled;
                this.disabledTools.productform = isDisabled;
                this.disabledTools.form = isDisabled;
            },
            'activeTools.image': function() {
                let isDisabled = this.activeTools.image;
                if (isDisabled) this.activeTools.link = false;
                if (isDisabled) this.activeTools.video = false;
                this.disabledTools.bold = isDisabled;
                this.disabledTools.italic = isDisabled;
            },
            'activeTools.video': function() {
                let isDisabled = this.activeTools.video;
                if (isDisabled) this.activeTools.link = false;
                if (isDisabled) this.activeTools.image = false;
                this.disabledTools.bold = isDisabled;
                this.disabledTools.italic = isDisabled;
                this.disabledTools.link = isDisabled;
            },
            'activeTools.additionalText': function() {
                let isDisabled = this.activeTools.additionalText;
                this.disabledTools.h1 = isDisabled;
                this.disabledTools.h2 = isDisabled;
                this.disabledTools.h3 = isDisabled;
                this.disabledTools.image = isDisabled;
                this.disabledTools.video = isDisabled;
                this.disabledTools.divider = isDisabled;
                this.disabledTools.interview = isDisabled;
                this.disabledTools.productform = isDisabled;
                this.disabledTools.form = isDisabled;
            },
        },
        components: {
            OverflowScroller
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.defineIsToolBarHidden);
            window.removeEventListener('scroll', this.fixToolbar);
        }
    }
</script>