<template>
    <div class="post-content" :id="'content-' + index">
        <transition v-on:leave="postContentLeave"
                    v-bind:css="false">
            <template v-if="item.type == 'text' && item.show">
                <content-text :item="item" :index="index"></content-text>
            </template>
            <div v-if="item.type == 'quote' && item.show"
                 :class="[!$parent.activeTools.code ? 'post-quote-wrapper' : 'code']">
                <content-quote :item="item" :index="index"></content-quote>
                <content-tools v-show="!$parent.activeTools.code" :item="item" :index="index"></content-tools>
            </div>
            <div v-if="item.type == 'image' && item.show"
                 :class="[!$parent.activeTools.code ? 'post-image-wrapper' : 'code']">
                <content-image :item="item" :index="index"></content-image>
                <div class="delete-button"
                     v-show="!$parent.activeTools.code"
                     @click="hideItem(item, index)">
                    <img data-markup-inline src="/../images/icons/cross.svg">
                </div>
            </div>
            <div v-if="item.type == 'video' && item.show"
                 :class="[!$parent.activeTools.code ? 'post-video-wrapper' : 'code']">
                <content-video :item="item" :index="index"></content-video>
                <div class="delete-button"
                     v-show="!$parent.activeTools.code"
                     @click="hideItem(item, index)">
                    <img data-markup-inline src="/../images/icons/cross.svg">
                </div>
            </div>
        </transition>
        <transition v-on:enter="popoverEnter"
                    v-on:leave="popoverLeave"
                    v-bind:css="false">
            <div class="custom-popover"
                 v-if="index === 0" v-show="$parent.postValidation.emptyContent"
                 data-position="10"
                 v-text="'Please write your post here'">
            </div>
        </transition>
    </div>
</template>

<script>
    import ContentText from './newPostContentTypes/ContentText.vue';
    import ContentQuote from './newPostContentTypes/ContentQuote.vue';
    import ContentImage from './newPostContentTypes/ContentImage.vue';
    import ContentVideo from './newPostContentTypes/ContentVideo.vue';
    import ContentTools from './newPostContentTypes/ContentTools.vue';
    import { PopoverTransition, NewPostContentTransitions } from '../mixins/transitions';

    export default {
        name: 'new-post-content',
        props: ['item', 'index'],
        mixins: [PopoverTransition, NewPostContentTransitions],
        data() {
            return {
                itemToDelete: null,
                isActiveButtons: true
            }
        },
        methods: {
            // Main function
            focus(item) {
                this.$set(item, 'focused', true);
                this.$parent.lastActiveContentIndex = this.index;
            },
            blur(item, event, el) {
                if (!event.relatedTarget || event.relatedTarget.localName !== 'button') {
                    this.$set(item, 'focused', false);
                } else  if (event.relatedTarget && event.relatedTarget.localName === 'button') {
                    setTimeout( () => { el.focus(); }, 100);
                }
            },
            movingInText(event, el = null) {
                let targetElement = el ? el : event.target;
                if (!this.$parent.activeTools.code && targetElement) {
                    this.$parent.diactivateAllTools();
                    let target = targetElement.tagName.toLowerCase(),
                        parent = targetElement.parentElement,
                        selection = document.getSelection(),
                        boldInParent = false,
                        italicInParent = false,
                        linkInParent = false,
                        h1Parent = false,
                        h2Parent = false,
                        h3Parent = false,
                        bulletListParent = false,
                        numberListParent = false,
                        quoteParent = false,
                        imageParent = false,
                        videoParent = false,
                        linkElement = null;


                    if (target == 'a') linkElement = el ? el : event.target;

                    let parentElement = selection.baseNode ? selection.baseNode.parentElement : selection.focusNode.parentElement;

                    while (parentElement) {
                        let parentTag = parentElement.nodeName.toLowerCase();

                        boldInParent = boldInParent || parentTag == 'b' || parentTag == 'strong';
                        italicInParent = italicInParent || parentTag == 'i' || parentTag == 'em';
                        linkInParent = linkInParent || parentTag == 'a';
                        h1Parent = h1Parent || parentTag == 'h1';
                        h2Parent = h2Parent || parentTag == 'h2';
                        h3Parent = h3Parent || parentTag == 'h3';
                        bulletListParent = bulletListParent || parentTag == 'ul';
                        numberListParent = numberListParent || parentTag == 'ol';

                        if (parentTag === 'a' && !linkElement) linkElement = parentElement;

                        parentElement = parentElement.parentElement;
                    }

                    while (parent !== null) {
                        quoteParent = quoteParent || parent.className == 'post-quote-wrapper';
                        imageParent = imageParent || parent.className == 'post-image-wrapper';
                        videoParent = videoParent || parent.className == 'post-video-wrapper';

                        if (parent.className === 'post-image-wrapper') linkElement = parent.getElementsByTagName("A")[0];

                        parent = parent.parentElement;
                    }


                    if (linkElement && targetElement.className != 'post-video-wrapper' && !videoParent) {
                        this.$parent.toolsInputs.link.value = linkElement.href;
                        this.$parent.popovers.tools.link.onclick = true;
                    }

                    this.$parent.activeTools.bold = target == 'b' || target == 'strong' || boldInParent;
                    this.$parent.activeTools.italic = target == 'i' || target == 'em' || italicInParent;
                    this.$parent.activeTools.link = (target == 'a' || linkInParent) && targetElement.className != 'post-video-wrapper' && !videoParent;
                    this.$parent.activeTools.h1 = target == 'h1' || h1Parent;
                    this.$parent.activeTools.h2 = target == 'h2' || h2Parent;
                    this.$parent.activeTools.h3 = target == 'h3' || h3Parent;
                    this.$parent.activeTools.bulletlist = target == 'ul' || bulletListParent;
                    this.$parent.activeTools.numberlist = target == 'ol' || numberListParent;
                    this.$parent.activeTools.quote = targetElement.className == 'post-quote-wrapper' || quoteParent;
                    this.$parent.activeTools.image = targetElement.className == 'post-image-wrapper' || imageParent;
                    this.$parent.activeTools.video = targetElement.className == 'post-video-wrapper' || videoParent;

                    if (selection.type == 'Caret') {
                        setTimeout(() => {
                            if (selection.extentNode) {
                                this.$parent.caretAtEnd = selection.extentOffset == selection.extentNode.length;
                            } else if (selection.focusNode) {
                                this.$parent.caretAtEnd = selection.focusOffset == selection.focusNode.length;
                            }

                            this.$parent.caretPosition = selection;
                        }, 100);
                    }

                    if (selection.type == 'Range') {
                        this.$parent.selectedRange = selection.getRangeAt(0);
                    } else if (linkElement) {
                        let range = document.createRange();
                        range.selectNodeContents(linkElement);
                        this.$parent.selectedRange = range;
                    }
                }
            },
            enterKey(event) {
                if (!this.$parent.activeTools.code) {
                    if (!this.$parent.activeTools.bulletlist && !this.$parent.activeTools.numberlist) {
                        event.preventDefault();
                        if (this.$parent.caretAtEnd) {
                            if (!this.$parent.activeTools.h1 &&
                                !this.$parent.activeTools.h2 &&
                                !this.$parent.activeTools.h3) {
                                document.execCommand('insertHTML', false, '<br/><br/>');
                            } else {
                                this.$parent.activeTools.h1 = false;
                                this.$parent.activeTools.h2 = false;
                                this.$parent.activeTools.h3 = false;
                                document.execCommand('insertHTML', false, '<br/>');
                            }
                        } else {
                            document.execCommand('insertHTML', false, '<br/>');
                        }
                    } else if (this.$parent.activeTools.numberlist) {
                        // Prevent ul bug
                        let sel = window.getSelection(),
                            node = $(sel.focusNode),
                            children = $(sel.anchorNode.childNodes);
                        if (sel.isCollapsed && node.is('li') && (!children.length || (children.length == 1 && children.first().is('br')))) {
                            event.preventDefault();
                            if (!node.is(':last-child')) {
                                node.parent().clone(false)
                                    .empty()
                                    .insertAfter(node.parent())
                                    .append(node.nextAll());
                            }
                            let br = $('<br>').insertAfter(node.parent()),
                                range = document.createRange();
                            range.setStartAfter(br.get(0));
                            range.setEndAfter(br.get(0));
                            sel.removeAllRanges();
                            sel.addRange(range);
                            node.remove();
                        }
                    }
                } else {
                    event.preventDefault();
                    document.execCommand('insertHTML', false, '<br/>&#8203;');
                }
            },
            deleteKey(item, index, event) {
                if (!item.value && index > 0) this.$parent.removeBlock(index);
                if (!this.$parent.activeTools.code && event) this.movingInText(event);
            },
            hideItem(item, index) {
                this.itemToDelete = index;
                this.$set(item, 'show', false);
            },
            checkIsActiveButtons() {
                if (this.item.buttons) {
                    this.isActiveButtons = this.item.buttons.filter((button) => button.show).length > 0;
                }
            },
            stripTagsOnPaste(event) {
                event.preventDefault();
                let text = event.clipboardData.getData("text/plain");
                document.execCommand("insertHTML", false, text);
            }
        },
        watch: {
          'item.value': function (val) {
              if (this.index === 0 && val.length) this.$set(this.$parent.postValidation, 'emptyContent', false);
          }
        },
        components: {
            ContentText,
            ContentQuote,
            ContentImage,
            ContentVideo,
            ContentTools
        }
    }
</script>