<template>
    <div class="overflow-scroller-wrapper"
         :class="[!isHidden ? 'hidden-arrows' : '', 'position-' + position]">
        <div class="arrow arrow-left"
             @click.stop="moveTrack('left')"
             ref="leftArrow"></div>
        <div class="popovers" ref="popoversWrapper">
            <slot name="popoversWrapper"></slot>
        </div>
        <div class="overflow-scroller"
             @scroll="scrollEvent"
             ref="outerWrapper">
            <div class="overflow-scroller__track"
                 ref="innerWrapper">
                <slot name="innerWrapper"></slot>
            </div>
        </div>
        <div class="arrow arrow-right"
             @click.stop="moveTrack('right')"
             ref="rightArrow"></div>
    </div>
</template>

<script>
    export default {
        name: 'overflow-scroller',
        data() {
            return {
                isHidden: false,
                position: 'left',
            }
        },
        methods: {
            // Animations
            scrollEvent(e) {
                let position = e.target.scrollLeft,
                    popoversWrapper = this.$refs.popoversWrapper;
                popoversWrapper.style.left = -position;
                if (parseInt(position) === 0) {
                    this.position = 'left';
                } else if (position === parseInt(window.getComputedStyle(this.$refs['innerWrapper']).width) - parseInt(window.getComputedStyle(this.$refs['outerWrapper']).width)) {
                    this.position = 'right';
                } else {
                    this.position = 'center';
                }
            },
            defineIsHidden() {
                let outerWrapperWidth = parseInt(window.getComputedStyle(this.$refs.outerWrapper).width),
                    innerWrapperWidth = parseInt(window.getComputedStyle(this.$refs.innerWrapper).width);
                this.isHidden = innerWrapperWidth > outerWrapperWidth;
            },
            moveTrack(direction) {
                let innerWrapperWidth = this.$refs.innerWrapper ? parseInt(window.getComputedStyle(this.$refs.innerWrapper).width) : 0,
                    outerWrapper = $(this.$refs.outerWrapper),
                    leftArrowWidth = this.$refs.leftArrow ? parseInt(window.getComputedStyle(this.$refs.leftArrow).width) : 0,
                    rightArrowWidth = this.$refs.rightArrow ? parseInt(window.getComputedStyle(this.$refs.rightArrow).width) : 0,
                    outerWrapperWidth = outerWrapper.outerWidth() - leftArrowWidth - rightArrowWidth,
                    leftPosition = null;

                if (direction === 'right') {
                    let hiddenSpace = innerWrapperWidth - outerWrapperWidth + outerWrapper.scrollLeft();
                    leftPosition = hiddenSpace > outerWrapperWidth ? '+=' + outerWrapperWidth : (innerWrapperWidth - outerWrapperWidth)
                } else if (direction === 'left') {
                    let hiddenSpace = outerWrapper.scrollLeft();
                    leftPosition = hiddenSpace > outerWrapperWidth ? '-=' + outerWrapperWidth : 0
                }

                outerWrapper.animate({ scrollLeft: leftPosition }, 250,() => {
                    let position = outerWrapper.scrollLeft();
                    if (parseInt(position) === 0) {
                        this.position = 'left';
                    } else if (position === parseInt(window.getComputedStyle(this.$refs['innerWrapper']).width) - parseInt(window.getComputedStyle(this.$refs['outerWrapper']).width)) {
                        this.position = 'right';
                    } else {
                        this.position = 'center';
                    }
                });
            }
        },
        mounted() {
            this.$nextTick(function () {
                this.defineIsHidden();
            });
            window.addEventListener('resize', this.defineIsHidden);
        },
        updated: function () {
            this.$nextTick(function () {
                this.defineIsHidden();
            })
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.defineIsHidden);
        }
    }
</script>