<template>
    <div :contenteditable="$parent.$parent.activeTools.code"
         @input="update"
         @click="$parent.movingInText($event)"
         @keydown.tab="$parent.$parent.diactivateAllTools()"
         @keydown.left="$parent.movingInText($event)"
         @keydown.right="$parent.movingInText($event)"
         v-focus="item.focused"
         @focus="$parent.focus(item, index)"
         @blur="$parent.blur(item, $event, $el)">
        <img :src="item.href">
        <p class="additional-text"
           contenteditable="true"
           data-placeholder="Enter description of your picture (unnecessary)…">
        </p>
    </div>
</template>

<script>
    export default {
        name: 'content-image',
        directives: { focus: focus },
        props: ['item', 'index'],
        data() {
            return {

            }
        },
        methods: {
            update(event) {
                this.$parent.$parent.caretAtEnd = true;
                if (!this.$parent.$parent.activeTools.code) {
                    this.$set(this.item, 'additionalValue', event.target.innerText);
                    this.$set(this.item, 'htmlValue', this.$el.innerHTML);
                } else {
                    this.$set(this.item, 'htmlValue', this.$el.innerText);
                }
            },
        },
        mounted() {
            this.$parent.$parent.loading = false;

            this.$el.getElementsByClassName('additional-text')[0].click();

            if (!this.item.htmlValue) this.$set(this.item, 'htmlValue', this.$el.innerHTML);
            if (this.index === this.$parent.$parent.postContent.length-1) this.$parent.$parent.addCommonContentBlock('text');

            if (this.item.htmlValue) {
                this.$el.innerHTML = this.item.htmlValue;
            }

            if (!this.$parent.$parent.activeTools.code && this.item.focused) {
                this.$parent.$parent.placeCaretAtEnd(this.$el.getElementsByClassName('additional-text')[0]);
            } else if (this.$parent.$parent.activeTools.code) {
                this.$el.innerText = this.item.htmlValue;
            }

            // On/Off Edit Mode
            this.$parent.$parent.$on('edit-mode', (editMode) => {
                this.$parent.$parent.diactivateAllTools(['code']);
                if (editMode) {
                    this.$nextTick(() => {
                        this.$el.innerText = this.$el.innerHTML;
                    });
                } else if (this.$el.innerText.length) {
                        this.$set(this.item, 'htmlValue', this.$el.innerText);
                        this.$el.innerHTML = this.$el.innerText;
                        this.$set(this.item, 'additionalValue', this.$el.getElementsByClassName('additional-text')[0].innerText);
                } else {
                    this.$parent.hideItem(this.item);
                }
            });

            // Insert/remove link
            this.$parent.$parent.$on('link-for-image', (link) => {
                let aTag = this.$el.getElementsByTagName('A')[0];
                if (aTag) {
                    if (link) {
                        aTag.setAttribute('href', link);
                    } else {
                        aTag.outerHTML = aTag.innerHTML;
                    }
                } else if (link) {
                    let imgTag = this.$el.getElementsByTagName('IMG')[0];
                    imgTag.outerHTML = '<a href="' + link + '" target="_blank">' + imgTag.outerHTML + '</a>';
                }
                this.$set(this.item, 'htmlValue', this.$el.innerHTML);
            });

            // Strip tags on paste
            this.$el.querySelector('.additional-text').addEventListener('paste', (e) => this.$parent.stripTagsOnPaste(e));
        },
        watch: {
            'item.focused': function(val) {
                if (!this.$parent.$parent.activeTools.code) {
                    if (val) {
                        this.$parent.$parent.placeCaretAtEnd(this.$el.getElementsByClassName('additional-text')[0]);
                    } else {
                        this.$el.getElementsByClassName('additional-text')[0].blur();
                    }
                }
            },
            'item.htmlValue': function(val) {
                if (this.$parent.$parent.activeTools.code && !val.length) {
                    this.$parent.hideItem(this.item, this.index);
                }
            }
        },
        beforeDestroy() {
            this.$parent.$parent.$off('edit-mode');
        },
    }
</script>