<template>
    <div :contenteditable="$parent.$parent.activeTools.code"
         @input="update"
         @click="$parent.movingInText($event)"
         @keydown.tab="$parent.$parent.diactivateAllTools()"
         @keydown.left="$parent.movingInText($event)"
         @keydown.right="$parent.movingInText($event)"
         v-focus="item.focused"
         @focus="$parent.focus(item, index)" 
         @blur="$parent.blur(item, $event, $el)">
        <youtube v-if="item.source == 'youtube'"
                 :video-id="item.value">
        </youtube>
        <vimeo-player v-else-if="item.source == 'vimeo'"
                      :video-id="item.value"
                      ref="player">
        </vimeo-player>
        <p class="additional-text"
           contenteditable="true"
           data-placeholder="Enter description of your video (unnecessary)…">
        </p>
    </div>
</template>

<script>
    export default {
        name: 'content-video',
        directives: { focus: focus },
        props: ['item', 'index'],
        data() {
            return {

            }
        },
        methods: {
            update(event) {
                this.$parent.$parent.caretAtEnd = true;
                if (!this.$parent.$parent.activeTools.code) {
                    this.$set(this.item, 'additionalValue', event.target.innerText);
                    this.$set(this.item, 'htmlValue', this.$el.innerHTML);
                } else {
                    this.$set(this.item, 'htmlValue', this.$el.innerText);
                }
            },
            generateHTML(target) {
                let newValue = '';
                if (this.item.source === 'vimeo') {
                    let videoWrapperReg = /(<div id="vimeo-player-\d+".*>)(<\/div>)/,
                        iFrame = '<iframe src="https://player.vimeo.com/video/' + this.item.value + '" width="640" height="320" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-ready="true"></iframe>';
                    newValue = this.$el.innerHTML.replace(videoWrapperReg, '$1' + iFrame + '$2');
                } else if (this.item.source === 'youtube') {
                    let videoWrapperReg = /(<div id="youtube-player-\d+".*>)(<\/div>)/,
                        iFrame = '<iframe frameborder="0" allowfullscreen="1" width="640" height="390" src="https://www.youtube.com/embed/' + this.item.value + '"></iframe>';
                    newValue = this.$el.innerHTML.replace(videoWrapperReg, '$1' + iFrame + '$2');
                }
                this.item.htmlValue = newValue;
                this.$el[target] = newValue;
            }
        },
        mounted() {
            this.$el.getElementsByClassName('additional-text')[0].click();

            if (this.item.additionalValue) this.$el.getElementsByClassName('additional-text')[0].innerText = this.item.additionalValue;
            if (!this.item.htmlValue) this.$set(this.item, 'htmlValue', this.$el.innerHTML);
            if (this.index === this.$parent.$parent.postContent.length-1) this.$parent.$parent.addCommonContentBlock('text');

            if (!this.$parent.$parent.activeTools.code && this.item.focused) {
                this.$parent.$parent.placeCaretAtEnd(this.$el.getElementsByClassName('additional-text')[0]);
                this.$nextTick(() => this.generateHTML('innerHTML'));
            } else if (this.$parent.$parent.activeTools.code) {
                this.$nextTick(() => this.generateHTML('innerText'));
            }

            // On/Off Edit Mode
            this.$parent.$parent.$on('edit-mode', (editMode) => {
                this.$parent.$parent.diactivateAllTools(['code']);
                if (editMode) {
                    this.$nextTick(() => {
                        this.$el.innerText = this.$el.innerHTML;
                    });
                } else if (this.$el.innerText.length) {
                    this.$set(this.item, 'htmlValue', this.$el.innerText);
                    this.$el.innerHTML =  this.$el.innerText;
                    this.$set(this.item, 'additionalValue', this.$el.getElementsByClassName('additional-text')[0].innerText);
                } else {
                    this.$parent.hideItem(this.item, this.index);
                }

            });

            // Strip tags on paste
            this.$el.querySelector('.additional-text').addEventListener('paste', (e) => this.$parent.stripTagsOnPaste(e));
        },
        watch: {
            'item.focused': function(val) {
                if (!this.$parent.$parent.activeTools.code) {
                    if (val) {
                        this.$parent.$parent.placeCaretAtEnd(this.$el.getElementsByClassName('additional-text')[0]);
                    } else {
                        this.$el.getElementsByClassName('additional-text')[0].blur();
                    }
                }
            },
            'item.htmlValue': function(val) {
                if (this.$parent.$parent.activeTools.code && !val.length) {
                    this.$parent.hideItem(this.item, this.index);
                }
            }
        },
        beforeDestroy() {
            this.$parent.$parent.$off('edit-mode');
        },
    }
</script>