<template>
    <div :contenteditable="$parent.$parent.activeTools.code" @input="update">
        <blockquote class="post-quote">
            <p class="post-quote-main-text"
               contenteditable="true"
               data-placeholder="Enter the quote…"
               ref="quoteValue"
               v-focus="item.focused"
               @focus="$parent.focus(item, index)"
               @blur="$parent.blur(item, $event, $el)"
               @input.stop="update($event, 'value')"
               @keydown.tab="$parent.$parent.diactivateAllTools()"
               @click="$parent.movingInText"
               @keydown.left="$parent.movingInText($event)"
               @keydown.right="$parent.movingInText($event)"></p>
            <p class="additional-text"
               contenteditable="true"
               data-placeholder="Enter name (unnecessary)…"
               @input.stop="update($event, 'additionalValue')"
               @keydown.tab="$parent.$parent.diactivateAllTools()"
               @click="$parent.movingInText"
               @keydown.left="$parent.movingInText($event)"
               @keydown.right="$parent.movingInText($event)"></p>
        </blockquote>
    </div>
</template>

<script>
    export default {
        name: 'content-quote',
        directives: { focus: focus },
        props: ['item', 'index'],
        data() {
            return {
                lastQuoteLength: 0
            }
        },
        methods: {
            update(event, value) {
                this.$parent.$parent.caretAtEnd = true;
                if (!this.$parent.$parent.activeTools.code) {
                    this.$set(this.item, value, event.target.innerText);
                    if (value === 'value') {
                        let quoteLength = event.target.innerText.length;
                        if (quoteLength === 1 && this.lastQuoteLength === 0) {
                            event.target.innerHTML = '<i>' + event.target.innerText + '</i>';
                            this.$parent.$parent.placeCaretAtEnd(event.target);
                            this.lastQuoteLength = quoteLength;
                        } else if (quoteLength === 1 && this.lastQuoteLength === 1) {
                            this.item.value = '';
                            event.target.innerHTML = '';
                            this.lastQuoteLength = 0;
                        } else {
                            this.lastQuoteLength = quoteLength;
                        }
                    }
                    this.$set(this.item, 'htmlValue', this.$el.innerHTML);
                } else {
                    this.$set(this.item, 'htmlValue', this.$el.innerText);
                }
            },
        },
        mounted() {
            if (this.index === this.$parent.$parent.postContent.length - 1) this.$parent.$parent.addCommonContentBlock('text');

            if (!this.$parent.$parent.activeTools.code && this.item.value ) this.$refs['quoteValue'].innerText = this.item.value;

            if (this.item.htmlValue) {
                this.$el.innerHTML = this.item.htmlValue;
            } else if (!this.$parent.$parent.activeTools.code && this.item.focused) {
                this.$parent.$parent.placeCaretAtEnd(this.$el.getElementsByClassName('post-quote-main-text')[0]);
            } else if (this.$parent.$parent.activeTools.code) {
                this.$el.innerText = '<blockquote class="post-quote">' +
                    '<p contenteditable="true" data-placeholder="Enter the quote…" class="post-quote-main-text"></p>' +
                    '<p contenteditable="true" data-placeholder="Enter name (unnecessary)…" class="additional-text"></p>' +
                    '</blockquote>';
            }

            // On/Off Edit Mode
            this.$parent.$parent.$on('edit-mode', (editMode) => {
                this.$parent.$parent.diactivateAllTools(['code']);
                if (editMode) {
                    this.$nextTick(() => {
                        this.$el.innerText =  this.$el.innerHTML;
                    });
                } else if (this.$el.innerText.length) {
                        this.$set(this.item, 'htmlValue', this.$el.innerText);
                        this.$el.innerHTML =  this.$el.innerText;
                        this.$set(this.item, 'value', this.$el.getElementsByClassName('post-quote-main-text')[0].innerText);
                        this.$set(this.item, 'additionalValue', this.$el.getElementsByClassName('additional-text')[0].innerText);
                } else {
                    this.$parent.hideItem(this.item, this.index);
                }
            });

            // Strip tags on paste
            this.$el.querySelector('.post-quote-main-text').addEventListener('paste', (e) => this.$parent.stripTagsOnPaste(e));
            this.$el.querySelector('.additional-text').addEventListener('paste', (e) => this.$parent.stripTagsOnPaste(e));
        },
        watch: {
            'item.focused': function(val) {
                if (!this.$parent.$parent.activeTools.code) {
                    if (val) {
                        this.$parent.$parent.placeCaretAtEnd(this.$el.getElementsByClassName('post-quote-main-text')[0]);
                    } else {
                        this.$el.blur();
                    }
                }
            },
            'item.htmlValue': function(val) {
                if (this.$parent.$parent.activeTools.code && !val.length) {
                    this.$parent.hideItem(this.item, this.index);
                }
            }
        },
        beforeDestroy() {
            this.$parent.$parent.$off('edit-mode');
        },
    }
</script>