<template>
    <div class="content-tools">
        <div class="tool edit-tool"
             @click="startEdition">
            <div class="icon">
                <img data-markup-inline src="../../images/icons/edit.svg">
            </div>
            <div class="text">Edit</div>
        </div>
        <div class="tool delete-tool"
             @click="deletePopover = !deletePopover"
             v-click-outside="hidePopovers">
            <div class="icon">
                <img data-markup-inline src="../../images/icons/delete.svg">
            </div>
            <div class="text">Delete</div>
            <transition v-on:enter="deletePopoverEnter"
                        v-on:leave="deletePopoverLeave"
                        v-bind:css="false">
                <div class="custom-popover n1i"
                     v-show="deletePopover"
                     :data-position="245">
                    <p v-if="item.type =='quote'">Are you really want to delete a quote?</p>
                    <p v-else-if="item.type =='interview'">Are you really want to delete an interview?</p>
                    <p v-else-if="item.type =='productform'">Are you really want to delete product form?</p>
                    <p v-else-if="item.type =='form'">Are you really want to delete form?</p>
                    <div class="buttons-wrapper">
                        <button class="no">No</button>
                        <button class="yes" @click="$parent.hideItem(item, index)">Yes</button>
                    </div>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
    import { ContentToolsTransitions } from '../../mixins/transitions';

    export default {
        name: 'content-tools',
        props: ['item', 'index'],
        mixins: [ContentToolsTransitions],
        data() {
            return {
                deletePopover: false,
            }
        },
        methods: {
            // Main functions
            hidePopovers() {
                this.deletePopover = false;
            },
            startEdition() {
                if (this.item.type === 'interview') {
                    this.$parent.$parent.editInterview(this.item.interviewIndex);
                } else if (this.item.type === 'form') {
                    this.$parent.$parent.editForm(this.item.formIndex);
                }
            },
            hideDeletePopover() {
                this.deletePopover = false
            }
        },
        mounted() {
            window.addEventListener('resize', this.hideDeletePopover);
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.hideDeletePopover);
        }
    }
</script>