<template>
    <div contenteditable="true"
         :class="[!this.$parent.$parent.activeTools.code ? 'post-text' : 'code']"
         :data-placeholder="index == 0 && $parent.$parent.postContent.length < 3 ? 'Write your post here…' : ''"
         v-focus="item.focused"
         @focus="$parent.focus(item)"
         @blur="$parent.blur(item, $event, $el)"
         @input="update"
         @click="$parent.movingInText($event)"
         @keydown.tab="$parent.$parent.diactivateAllTools()"
         @keydown.left="$parent.movingInText($event)"
         @keydown.right="$parent.movingInText($event)"
         @keydown.enter="$parent.enterKey($event)"
         @keydown.delete="$parent.deleteKey(item, index, $event)">
    </div>
</template>

<script>
    export default {
        name: 'content-text',
        directives: { focus: focus },
        props: ['item', 'index'],
        data() {
            return {

            }
        },
        methods: {
            update(event) {
                this.$parent.$parent.caretAtEnd = true;
                if (!this.$parent.$parent.activeTools.code) {
                    this.$set(this.item, 'value', this.$el.innerText);
                    this.$set(this.item, 'htmlValue', this.$el.innerHTML);
                } else {
                    this.$set(this.item, 'htmlValue', this.$el.innerText);
                }
            },
        },
        mounted() {
            this.$el.innerHTML = this.index !== 0 && !this.item.htmlValue ? '&#8288;' : this.item.htmlValue;

            // On/Off Edit Mode
            this.$parent.$parent.$on('edit-mode', (editMode) => {
                this.$parent.$parent.diactivateAllTools(['code']);
                if (editMode) {
                    this.$nextTick(() => {
                        this.$el.innerText =  this.$el.innerHTML
                    });
                } else {
                    this.$set(this.item, 'htmlValue', this.$el.innerText);
                    this.$el.innerHTML =  this.$el.innerText;
                    this.$set(this.item, 'value', this.$el.innerText);
                }
                this.item.focused = false;
                this.$nextTick(() => this.item.focused = true);
            });

            // Strip tags on paste
            this.$el.addEventListener("paste", (e) => {
                if (!this.$parent.$parent.activeTools.code) {
                    this.$parent.stripTagsOnPaste(e)
                }
            });
        },
        watch: {
            'item.focused': function(val) {
                if (val) {
                    this.$parent.$parent.placeCaretAtEnd(this.$el);
                } else {
                    this.$el.blur();
                }
            },
            'item.value': function() {
                if (this.index === this.$parent.$parent.postContent.length-1 && this.item.value.length > 1) {
                    this.$parent.$parent.addCommonContentBlock('text');
                }
            },
            'item.htmlValue': function(val) {
                if (/^<br\/?>$/.test(val)) this.item.htmlValue = '';
                if (!this.$parent.$parent.activeTools.code && this.item.htmlValue !== this.$el.innerHTML) {
                    this.$el.innerHTML = this.item.htmlValue;
                    this.$set(this.item, 'focused', true);
                    if (this.$el.lastChild && this.$el.lastChild.click) {
                        this.$el.lastChild.click();
                    } else {
                        this.$el.click();
                    }
                }
            },
        },
        beforeDestroy() {
            this.$parent.$parent.$off('edit-mode');
        },
    }
</script>